.welcome_wrapper
  .section
    %h2 Welcome to Teambox!
    %p Teambox is a collaboration app that will help you stay on top of your tasks.
    %p We carefully crafted it to make task management simple for you.
    %p Now you can share your projects with anyone, whether it's just you, all your co-workers or your group of friends.

  .section
    %h2 Projects to organize everything
    %p bla bla bla

  .section
    %h2 Tasks to get things done
    %p bla bla bla

  .section
    %h2 Conversations to discuss
    %p bla bla bla

  .section
    %h2 Invite anybody
    %p bla bla bla

  .section
    %h2 Complete your profile
    %p bla bla bla

  .section
    %h2 Reach out to us
    %p Support, Twitter, Blog, etc

.welcome_navigation
  %a.prev &larr; Previous
  %span
  %a.next Next &rarr;
