.activity
  padding: 0px
    top: 2px
  margin: 15px 0px
  font-size: 12px
  background-color: #fff9da
  border: solid 1px #fff3b9
  .date
    float: right
    font-size: 10px
    color: #c7b89f
    padding:
      top: 3px
      right: 5px
  a
    font-weight: bold
  img
    vertical-align: middle
    margin:
      right: 3px
  .clear
    margin-left: 26px
    padding-bottom: 1px
  &:hover
    .date
      color: rgb(0, 0, 0)

.activity_icon
  float: left
  width: 16px
  height: 16px
  margin-right: 5px
