form
  margin: 0px
  p
    margin: 10px 0
    font-size: 12px
  h3
    margin-top: 5px
    font-size: 16px

  .option_fields, .text_field, .text_area, .select
    label
      display: block
      font-size: 12px
      font-weight: bold
      padding-bottom: 5px
      em, i
        margin-left: 10px
        font-size: 10px
        font-weight: normal
        font-style: normal
        color: #999

  .text_field, .text_area
    margin-bottom: 10px
    input, textarea
      font-size: 16px
      padding: 5px
      border:
        top: solid 1px rgb(196, 196, 196)
        left: solid 1px rgb(233, 233, 233)
        bottom: solid 1px rgb(233, 233, 233)
        right: solid 1px rgb(196, 196, 196)
    textarea
      width: 538px
    .label
      display: block
      margin:
        top: 10px
        bottom: 5px
      label
        display: inline
        font-weight: bold
      .description
        display: inline
        margin-left: 5px
        font-size: 10px
        color: rgb(150, 150, 150)

  .select
    label
      float: left
      padding-right: 10px

  .date_fields
    margin-bottom: 10px
    .pick_date
      margin-right: 20px

  .submit
    font-size: 12px

  .errorExplanation
    display: block
    padding: 0px
      left: 10px
    font-size: 12px
    border: 2px rgb(180, 50, 50) solid
    background: rgb(255, 200, 200)
    margin-bottom: 20px
    h2, p
      display: none
    ul
      padding-left: 20px

  .field_with_errors
    input
      background: rgb(255, 230, 230)
      border: 1px rgb(200, 100, 100) solid

  .form_error
    border: 1px red solid	
    background: rgb(255,200,200)

  .text_actions	
    text-decoration: underline

form.app_form
  background: rgb(255,255,220)
  border: 1px solid rgb(200,200,120)
  padding: 20px
  margin-bottom: 15px
