$column_width: 190px 

html, body
  margin: 0px
  padding: 0px
  background-color: white
  overflow: hidden

div.content_wrap, div.column_wrap
  position: fixed
  top: 68px
  bottom: 0
  overflow: hidden

#column
  width: $column_width
div.content_wrap
  left: $column_width
  right: 0
  border-left: 1px solid #B7B7B7
  overflow-y: auto
  .content
    margin: 10px
div.column_wrap
  font-size: 12px
  left: 0
  width: $column_width
  background: #e6edf5
  overflow: hidden
  div.column
    select
      max-width: $column_width - 20px
    .view_sidebar
      margin-left: 15px

// TODO: remove extra element and use +clearing
div.clear
  clear: both

@import header
@import navigation

$error: lighten(desaturate(red, 50%), 15)
$success: lighten(desaturate(green, 80%), 30%)

p.flash
  font:
    size: 14px
    weight: bold
  margin: .3em 0
  padding: .3em 1em
  +rounded(4px)
  background: #aaa
  border: 1px solid #aaa
  text-shadow: rgba(black, .3) 1px 1px 1px
p.flash-error
  background: $error
  border-color: $error - 20
  color: white
p.flash-success
  background: $success
  border-color: $success - 20
  color: white
p.flash-notice
  background: $highlight
  color: darken($highlight, 65%)
  border-color: $highlight - 20
  text-shadow: none

#footer
  clear: both
  font-size: 11px
  border-top: 1px solid #ccc
  padding: .5em 0 2em 0
  color: #777
  .support
    list-style: none
    float: right
    margin: 0
    padding: 0
    text-align: right
    li
      display: inline
      margin-left: 1em

#splash
  position: absolute
  top: 10px
  width: 100%
  text-align: center
  background-color: white

.separator
  height: 20px
  margin: 0
  padding: 0 10px
  line-height: 19px
  background: #E7E7E7
  background-image: -moz-linear-gradient(top,#F3F3F3,#D7D7D7)
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F3F3F3),color-stop(1,#D7D7D7))
  border:
    bottom: 1px solid #B7B7B7
    top: 1px solid #DDD
  color: #777
  text-shadow: white 0 1px 0
  text-transform: uppercase
  text-align: left
  font-size: 11px
  font-weight: bold
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none
  -webkit-background-clip: padding-box
  &.with_margin
    margin-top: 20px
  .column_wrap &
    +gradient(#D8DEE5, #C6D1DD)
    border-top: 1px solid #A4ACB3
