.pages
  clear: both
  margin-top: 10px
  div.page
    font-size: 12px

#pages
  div.page
    font-size: 12px
    ul
      margin: 5px 0
      padding-left: 20px

.new_pages, .create_pages, .edit_pages
  .content
    h2, form
      margin-left: 20px
    input#page_name
      width: 580px
    textarea#page_description
      width: 580px
      height: 50px
      font-size: 12px
    .watchers
      width: 570px
      background-color: rgb(255, 255, 200)
      margin: 10px
        left: 0px
      padding: 10px
        top: 0px
      border: 1px rgb(220, 220, 150) solid
      font-size: 12px
      h3
        font-size: 14px
        margin-bottom: 10px
      .user
        float: left
        width: 170px
      p
        margin-top: 10px
  .column
    font-size: 12px
    ul
      padding-left: 15px
    p, ul
      margin-bottom: 10px

.index_pages
  .content
    .page
      padding:
        left: 20px
        bottom: 5px
      border-bottom: solid 1px rgb(230, 230, 230)
      display: block
      h3
        font-size: 15px
        margin: 0px
          top: 10px
      a
        text-decoration: none
      a:hover
        text-decoration: underline
      p
        margin: 5px 0px
        font-size: 12px
        color: rgb(100, 100, 100)

.show_pages
  .page_header
    display: block
    margin-bottom: 10px
    .text_actions
      margin-top: 5px
      float: right
      font-size: 12px
      color: rgb(200, 200, 200)
      a
        text-decoration: underline
    .description
      font-size: 12px
      color: rgb(180, 180, 180)
  h3
    font-size: 18px
    margin: 0px
  p
    font-size: 12px
    line-height: 1.4em
  .buttons
    padding: 6px 10px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px

#pageInsert
  position: relative
  p
    background: black
    color: #e1e1e1
    left: -70px
    top: -12px
    padding: 5px 5px 0px 5px
    position: absolute
    height: 25px
    z-index: 100
    cursor: pointer

#pageInsertItems
  position: relative

#pageInsertItemsBar
  left: -70px
  padding-left: 70px
  padding-top: 0px
  top: 0px
  position: relative
  height: 32px
  z-index: 100
  width: 100%
  background-color: white

#pageFormContainer
  margin-left: 16px

#pageInsertItemCancel
  position: absolute
  left: 15px

#pageInsertItemCancel
  a
    color: red
    font-size: 80%

#pageInsertItemWidgets
  padding-left: 11px

#pageWidgetForms
  display: none

.pageSlot
  padding: 5px 0px
  padding-left: 46px
  margin-left: -46px
  padding-bottom: 10px
  div.actionContainer
    height: 0px
    float: left
    width: 100%

.pageSlot.InsertBefore
  background-image: url(/images/pins.gif)
  background-repeat: repeat-x

.divider
  background: url(../images/divider.jpg) repeat-x center
  padding-left: 10px
  h3
    padding-top: 3px
    span
      background: rgb(255, 255, 255)
      padding: 0px 5px
  p.actions
    float: right
    margin: 0px
    a.delete
      color: red
  p.handle
    position: relative
    margin: 0px
    float: none
    span
      background: rgb(255, 255, 255)
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
      padding: 3px 0px
      left: 2px
      bottom: 0px
      position: absolute
      display: block
      width: 32px
      height: 18px
      left: -32px
      top: 2px
      img
        cursor: move

.new_divider, .edit_divider
  margin-top: 5px
  padding: 10px
    right: 0px
  background: url(../images/divider.jpg) repeat-x center
  .area
    border: solid 1px rgb(230, 230, 230)
    background: rgb(245, 245, 245)
    width: 340px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px
    padding: 0px 10px
      top: 5px
  .text_field
    padding-right: 10px
    float: left
    input
      width: 180px
  .submit
    float: left
    font-size: 12px
    padding-top: 5px
    width: 130px

.new_note, .edit_note
  margin-top: 5px
  border: solid 1px rgb(230, 230, 230)
  background: rgb(245, 245, 245)
  padding: 10px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  .documentation
    font-size: 12px
    float: right
  .text_area
    padding-right: 10px
    textarea
      height: 5em
      width: 100%
  .submit
    font-size: 12px
    padding-top: 10px

.note
  p.actions
    float: right
    margin: 0px
    a.delete
      color: red
  p.handle
    position: relative
    margin: 0px
    float: none
    span
      background: rgb(255, 255, 255)
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
      padding: 3px 0px
      left: 2px
      bottom: 0px
      position: absolute
      display: block
      width: 32px
      height: 18px
      left: -32px
      top: 2px
      img
        cursor: move

.pageForm
  a.cancel
    float: right
    font-size: 12px

.show_pages
  .upload
    p.slotActions
      float: right
      margin: 0px
      position: relative
      z-index: 100
      a.delete
        color: red
    p.handle
      position: relative
      margin: 0px
      float: none
      span
        background: rgb(255, 255, 255)
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
        padding: 3px 0px
        left: -32px
        bottom: 0px
        position: absolute
        display: block
        width: 32px
        height: 18px
        top: 2px
        img
          cursor: move
    .block
      .date
        margin-right: 34px
