#primer
  padding: 10px 0 10px
  p
    font-size: 12px
    margin:
      left: 10px
      bottom: 10px
  .box
    display: block
    background-color: rgb(255, 255, 200)
    margin: 10px
    padding: 10px
    border: 3px rgb(220, 220, 150) solid
    +rounded(8px)
    h2
      margin:
        top: 5px
        bottom: 10px
      text-align: center
      border-bottom: none
      a
        color: rgb(0, 0, 150)
        text-decoration: underline
        padding: 5px
      a:hover
        color: rgb(255, 255, 255)
        background: rgb(0, 0, 255)
        text-decoration: none
    ul, ol
      margin: 5px 0 10px 0
      li
        font-size: 12px
        margin-bottom: 5px

.welcome_users
  .content
    a
      text-decoration: underline
    .section
      margin:
        top: 30px
        left: 5px
        bottom: 30px
      h2
        font-family: Helvetica
        font-size: 18px
        margin: 0px
          top: 10px
          bottom: 5px
        border: none
      p
        font-size: 12px
        margin-bottom: 5px
    .welcome_section
      border: none
      h2
        font-size: 24px
  .project_navigation
    height: 5px
  .column
    a
      font-size: 12px
