.search_bar
  float: right
  padding-top: 6px
  margin-right: 1.5em
  form
    input[type=submit]
      display: none
    .no-inputsearch &
      input[type=search]
        border: 1px solid silver
        padding: 3px 1em 2px 1em
        +rounded(10px)
        width: 10em
        +box-shadow(inset rgba(0,0,0,.2) 0px 1px 2px)

.results_search
  .comment
    .block
      width: 860px
  .results
    padding-left: 80px
    font-size: 12px
    margin: 20px
    form
      input#search
        font-size: 20px
        width: 450px
        margin-right: 20px

#results_set
  span.highlight
    background-color: yellow