#stopwatch
  position: absolute
  top: 0px
  left: 380px
  font-family: 'Lucida Grande', Helvetica
  font-size: 10px
  border: 1px solid black
  border-top: 0px
  padding: 3px
  padding-bottom: 5px
  
  label
    font-style: italic
  
  .timer
    font-size: 12px
    font-weight: bold