div.column
  span.overdue
    color: red

  .task
    span.task_status
      margin:
        right: 5px
        bottom: 3px
      padding: 2px 5px
      font-size: 10px
      float: none
    span.due_on
      display: none

  .task.overdue
    span.due_on
      color: red

  .task.due_on
    span.due_on
      display: inline-block

form.new_task, form.edit_task, .task_list_form
  margin-bottom: 10px
  label
    font-weight: bold
    i
      font-weight: normal
      color: rgb(100,100,100)
  p
    color: rgb(100,100,100)
    &.optional
      margin-top: 20px
      padding-top: 15px
      border-top: 1px dashed rgb(200,200,200)
  .text_field
    padding-right: 10px
    input
      width: 100%
      border:
        top: solid 1px rgb(90,90,90)
        left: solid 1px rgb(150,150,150)
        bottom: solid 1px rgb(150,150,150)
        right: solid 1px rgb(90,90,90)
  .select
    label
      padding-top: 3px
    input
      padding: 0px
      margin: 0px
  .pick_date
    width: 250px
    display: inline-block
  .submit
    display: block
    width: 100%
    text-align: right
    input
      float: none
  div.attach
    display: inline
  .actions
    display: inline-block
    span
      font-size: 12px
      margin-right: 5px
    .attach_icon, .add_watchers, .private_switch
      text-indent: -9999em
      margin-right: 5px
      top: 2px
      *:first-child+html &
        text-indent: 16px
        overflow: hidden
        top: -2px
    *:first-child+html & .attach_icon
      margin-left: -16px

.archive
  background: rgb(255,255,200)
  border: 1px rgb(220,220,150) solid
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  padding: 20px
    top: 10px
  text-align: center
  p
    font-size: 13px
    margin-bottom: 10px

.task_header
  display: block
  padding: 5px 0px
  font-size: 12px
  h2
    margin: 0px
      bottom: 3px
    overflow-x: hidden
  .watching
    font-size: 12px
    margin-left: 20px
    color: rgb(180,180,180)

.task_list_container
  margin: 10px 0 20px
  .task
    .title
      display: none

.task_list_container.reordering
  th
    border: none
    font-size: 16px
    padding-bottom: 5px
  img.drag
    cursor: move
    display: inline-block
    margin-right: 20px
  div.tasks, .new_task, &.archived
    display: none
  .task_list  
    .head
      border: none
    div.extra, img.triangle
      display: none

.task_list, .task_list_closed
  width: 100%
  a
    color: rgb(50,50,50)
  img.drag
    cursor: move
    display: none
  .head
    font-size: 14px
    border-bottom: solid 1px rgb(240,240,240)
    padding-bottom: 5px
    color: rgb(100,100,100)
    .dates
      float: right
      padding: 0
        top: 6px
        right: 20px
      font-size: 10px
      color: rgb(150,150,150)
    a
      font-weight: bold
  .archive
    display: none
  .task
    padding:
      top: 4px
      bottom: 2px
    .expanded_actions
      display: inline
      float: right
      a
        font-weight: normal
        text-decoration: underline
        font-size: 10px
        margin-left: 4px
    .task_drag
      display: none
      cursor: move
    .taskStatus
      text-align: right
      float: left
      width: 23px
      padding-left: 22px
      padding-right: 5px
      line-height: 16px
      span
        display: inline-block
        vertical-align: top
        width: 23px
        padding: 0
        text-align: center
    &.private
      .taskName
        .lock_icon
          display: inline-block
    &:hover .taskStatus
      width: 45px
      padding-left: 0
      .task_drag
        display: inline-block
    .taskName
      min-height: 18px
      font-size: 12px
      padding-left: 4px
      .lock_icon
        display: none
      span.assigned_date, span.assigned_user, span.urgent
        display: none
        color: rgb(100,100,100)
        padding: 1px 5px
        margin-right: 5px
        font-size: 11px
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
        background: rgb(245,245,245)
        border: solid 1px rgb(225,225,225)
        text-transform: uppercase
        a
          color: rgb(100,100,100)
        a:hover
          text-decoration: none
          color: rgb(0,0,0)
      .extended, span.status, span.project, span.task_list
        display: none
    &.due_on
      .taskName
        span.assigned_date
          display: inline-block
    &.assigned
      .taskName
        span.assigned_user
          display: inline-block
    &.overdue
      .taskName
        a.name
          color: rgb(200,0,0)
          font-weight: bold
        span.assigned_date, span.assigned_user
          color: rgb(200,0,0)
    &.urgent
      .taskName
        a.name
          color: rgb(150,0,0)
          font-weight: bold
        span.urgent
          color: rgb(150,0,0)
          display: inline-block
  .task.status_open.mine
    background: rgb(255,255,210)
    .taskName
      a
        font-weight: bold
      span
        background: rgb(255,255,255)
        border: solid 1px rgb(200,200,240)
        font-weight: bold
        a
          color: #555
          font-weight: normal

.task_list_container.archived
  .new_task
    display: none
  .archive
    display: block

#task_lists
  .task_list.archived, .task_list_container.archived
    .head
      a
        color: #ccc
      border: none
    .tasks
      display: none

#tasks_for_all_projects
  .task_list
    .task
      span.project, span.task_list
        border: none
        background: none
        display: inline
      .extended
        display: block
        padding-left: 46px
        margin: 3px 0 5px
        font-size: 11px
        color: #555
        a
          color: #555

div.tasks
  padding-bottom: 5px

table.task_list_closed
  margin-top: 10px
  .tasks
    .taskStatus
      padding-left: 50px
      span
        width: 18px
        font-size: 10px
    .taskName
      font-size: 10px

.active_new,.active_open,.active_hold,.active_resolved,.active_rejected
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  padding: 3px
  a
    color: rgb(255,255,255)
  span
    padding:
      left: 2px
      right: 0px
.active_new
  background: #9da3a7
.active_open
  background: #ffc947
.active_hold
  background: #be3cff
.active_resolved
  background: #afd142
.active_rejected
  background: #e97063

.new_task
  font-size: 11px
  padding:
    top: 5px
    left: 50px
  a
    color: rgb(100,100,100)
    text-decoration: underline

.show_archived_tasks
  font-size: 11px
  padding:
    top: 6px
    left: 50px
  a
    color: #CCC

.closed
  margin-top: 10px

span.task_status, span.current_task_status
  padding: 0 3px
  text-transform: uppercase
  font-size: 11px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  display: inline-block
  line-height: 14px
p.assigned_transition
  font-size: 13px
  font-style: italic
  color: lighten($text, 30%)
  text-transform: lowercase
  font-variant: small-caps
  
.task.status_new .taskStatus span.task_status, .task_status_new
  background: #9da3a7
  +gradient(#9da3a7,#9da3a7-#333)
  color: white
.task.status_open .taskStatus span.task_status, .task_status_open
  background: #ffc947
  +gradient(#ffc947+#333,#ffc947)
  color: #333
.task.status_hold .taskStatus span.task_status, .task_status_hold
  background: #be3cff
  +gradient(#be3cff+#333,#be3cff)
  color: white
.task.status_resolved .taskStatus span.task_status, .task_status_resolved
  background: #afd142
  +gradient(#afd142,#afd142-#333)
  color: white
.task.status_rejected .taskStatus span.task_status, .task_status_rejected
  background: #e97063
  +gradient(#e97063+#333,#e97063)
  color: white

.task.status_rejected, .task.status_resolved
  a.name
    text-decoration: line-through
    color: #999

.assigned_date, .comment span.urgent, .taskName span.urgent
  color: rgb(100,100,100)
  padding: 0px 5px
  margin-right: 5px
  font-size: 11px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  background: rgb(245,245,245)
  border: solid 1px rgb(225,225,225)
  text-transform: uppercase
  display: inline-block

p.view_for_all
  font-size: 12px
  margin: 10px 0

.filters
  display: block
  background-color: #f9f9f9
  border: 1px solid #ddd
  font-size: 12px
  margin: 25px 0
  padding: 5px 10px
  input
    width: 120px
    margin: 0 5px
  select
    margin: 0 5px
    max-width: 150px
  a.closeThis
    float: right
    color: #555
    text-decoration: underline
    padding-top: 2px

.task_inline
  .thread
    margin: 0 0 0 50px
    width: 590px
    .comment_header
      display: none
