$comments_left_border: #f2f2f2
$comments_bkg: #fafafa
.thread
  margin: 35px 0
  .comments
    border-left: 4px solid $comments_left_border
    background-color: $comments_bkg
  .comment_header
    border-left: 4px solid $comments_left_border
    background-color: $comments_left_border
    +gradient($comments_left_border, $comments_bkg)
    .block a
      font-weight: bold
      text-decoration: none
      color: black
      &:hover
        color: $link_hover
  .more_comments
    display: block
    font-size: 12px
    background-color: #ffe
    +gradient(#ffe, #ffd)
    a
      color: #333
      display: block
      padding: 10px 10px 10px 44px
      height: 16px
  form.new_comment
    border-left: 4px solid #eee
    background-color: $comments_bkg
    margin: 0
    padding: 2px 0 5px 6px

.expand_comment
  a
    position: absolute
    bottom: 20px
    right: -11px
    font-size: 12px
    color: #333
    background-color: lighten($navbar, 30)
    padding: 4px 10px
    -webkit-box-shadow: -2px 2px 2px #777
    &:hover
      text-decoration: none
      background-color: lighten($navbar, 10)
  span
    position: absolute
    bottom: 10px
    right: -10px
    font-size: 0px
    line-height: 0%
    width: 0px
    border-top: 10px solid $navbar
    border-right: 10px solid transparent
