body
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif

p
  margin: 0px
  padding: 0px
  .content_wrap &
    font-size: 12px
  .column_wrap &
    margin-bottom: 5px
    
h1
  font-size: 1.3em
  img
    vertical-align: middle

h2
  font-size: 20px
  margin:
    top: 10px
    bottom: 1em
  padding-bottom: 3px
  font-weight: normal
  border-bottom: solid 2px rgb(240, 240, 240)
  span
    font-weight: normal
    font-size: 12px
    color: rgb(180, 180, 180)
    float: right
    padding-top: 9px
  div.column_wrap &
    font-size: 12px
    text-transform: uppercase
    margin-bottom: 5px
    margin-left: 0
  div.column &
    border-bottom: solid 1px rgb(200, 200, 200)

.textilized
  font-size: 12px
  color: rgb(60, 60, 60)
  overflow: auto
  ul, ol
    margin: 0
      top: 10px
      bottom: 10px
    padding: 0
      left: 30px
    li
      font-size: 12px
  p
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif
    line-height: 18px
    margin: 2px 0 10px
  a
    text-decoration: underline
  blockquote
    color: rgb(140, 140, 140)
    border-left: 3px solid #cccccc
    margin: 0
      left: 5px
    padding: 0
      left: 10px
  pre
    -moz-background-clip: border
    -moz-background-inline-policy: continuous
    -moz-background-origin: padding
    background: rgb(250, 250, 220) none repeat scroll 0 0
    border-color: #cccccc
    border-style: solid
    border-width: 1px 0
    font-family: monospace
    font-size: 12px
    margin: 0
      top: 10px
      bottom: 10px
    overflow: auto
    padding: 5px 10px
    width: 540px
  table
    font-size: 12px
    border: 1px solid #bbbbbb
    th, td
      padding: 4px
      border: 1px solid #dddddd
    th
      font-weight: bold
