.upload
  padding: 15px 0px
  border:
    top: 1px solid white
    bottom: 1px solid white
  &:hover
    border:
      top: 1px solid #dbe1e6
      bottom: 1px solid #dbe1e6
    background-color: #f6f6f6
  margin: 0px
    left: 6px
  .info
    width: 60px
    padding-right: 10px
    float: left
    a
      display: block
      text-align: center
      text-transform: uppercase
      background: rgb(100, 100, 100)
      color: rgb(255, 255, 255)
      font-size: 16px
      padding: 3px 0px
        top: 14px
      width: 48px
      height: 28px
      margin-left: 6px
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
      letter-spacing: 0.1em
      font-family: Georgia
    a.jpg, a.gif, a.png, a.tga, a.tiff, a.eps, a.bmp
      background: rgb(11, 183, 182)
    a.xls, a.xlsx
      background: rgb(94, 148, 48)
    a.txt, a.c, a.cpp, a.css, a.dat, a.exe, a.h, a.hpp, a.html, a.java, a.php, a.py, a.rb, a.rtf, a.sql, a.xml, a.yml
      color: rgb(87, 107, 116)
      background: rgb(215, 224, 229)
    a.rar, a.tzg, a.zip, a.iso, a.dmg
      background: rgb(222, 185, 54)
    a.avi, a.flv, a.qt, a.mp4, a.mov, a.mpg
      background: rgb(157, 71, 154)
    a.aac, a.aiff, a.mid, a.mp3, a.wav
      background: rgb(98, 95, 155)
    a.pdf, a.ics
      background: rgb(202, 33, 39)
    a.doc, a.odt, a.ott
      background: rgb(24, 93, 128)
    a.psd
      background: rgb(0, 111, 148)
    a.ai
      background: rgb(216, 71, 108)
    a.key, a.odf, a.otp, a.ppt
      background: rgb(214, 103, 39)
    a.dotx, a.ods, a.ots
      background: rgb(105, 161, 53)
    a.dxf, a.dwg
      background: rgb(12, 164, 227)
  .block
    width: 560px
    float: right
    .description
      color: #999999
      font-style: italic
    .name
      font-size: 12px
      margin-bottom: 5px
      border-bottom: solid 1px rgb(235, 235, 235)
      a
        font-size: 12px
        font-weight: bold
    .date
      float: right
      font-size: 10px
      color: rgb(180, 180, 180)
    .body
      font-size: 12px

.iframe_container
  height: 28px
  background: white
  font-family: "Lucida Grande", "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif
  form
    .file, .description
      font-size: 12px
    .description
      margin-top: 5px
    .field .upload_description
      width: 320px

.uploads_current, .upload_images
  margin: 5px
    left: 0px
  padding: 5px
  clear: both
  .upload_thumbnail
    padding: 3px 0px
    font-size: 12px
    display: inline-block
    span
      vertical-align: top

.upload_list
  margin: 5px
    left: 0px
  padding: 5px
    left: 0px
  clear: both
  .upload_file
    font-size: 12px
    img
      margin-right: 5px
      padding-top: 2px
    span
      position: relative
      top: -2px
    .size
      color: rgb(120, 120, 120)

.upload_area
  clear: both
  background-color: rgb(255, 255, 255)
  border: solid 1px rgb(200, 200, 200)
  padding: 5px
  margin:
    right: 1px
    bottom: 5px
  h3
    color: rgb(100, 100, 100)
    font-size: 11px
    margin: 0px
      bottom: 7px
    padding:
      bottom: 4px
    border-bottom: solid 1px rgb(210, 210, 210)

iframe.upload_form
  clear: both
  width: 100%
  height: 28px
  border: none
  body
    background: rgb(255, 255, 255)

.index_uploads
  .content
    padding: 0px

a.remove
  color: rgb(255, 0, 0)
  font-size: 12px

body.iframe
  background: rgb(255, 255, 255)

.upload_form
  margin-bottom: 10px
  .text_field
    padding-right: 10px
    input
      font-size: 14px
      width: 100%
  .file
    label
      font-size: 12px
      display: block
      width: 200px
    p.error
      margin: 0px
  .submit
    margin-top: 10px

.link_to_upload
  display: inline-block
  border: 1px solid rgb(230, 230, 230)
  padding: 1px
  &:hover
    border: 1px solid rgb(160, 160, 160)
