@import shared

$background: #edeff4
$color: #333

body
  margin: 0
  font-family: Helvetica
  overflow-x: hidden
  color: $color
  -webkit-user-select: none
  -webkit-text-size-adjust: none
  background-color: $background

label, input
  margin: 2px 0
  display: block
  em
    font-style: normal
    font-size: 10px
    color: #999

.clear
  clear: both

input
  margin-bottom: 10px

form
  margin: 10px 0
  padding-left: 5px
  .text_field, .text_area
    margin-bottom: 10px
    input
      font-size: 16px
      padding: 5px
      font-family: "Lucida Grande", "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif
    input, textarea
      width: 95%
      border:
        top: solid 1px rgb(196, 196, 196)
        left: solid 1px rgb(233, 233, 233)
        bottom: solid 1px rgb(233, 233, 233)
        right: solid 1px rgb(196, 196, 196)
    .label
      display: block
      margin:
        top: 10px
        bottom: 5px
      label
        display: inline
        font-weight: bold

h2
  padding-left: 10px

#header
  h1
    font-size: 16px
    margin: 0
      top: 2px
      left: 5px
    a
      text-decoration: none
      color: #444444
  small
    font-size: 10px
    color: #999999
  #menubar
    -webkit-box-sizing: border-box
    background-color: $background
    border-bottom: 1px solid #d8dfea
    height: 34px
    position: relative
    a
      -webkit-box-sizing: border-box
      background-color: $navbar
      border: 1px solid $navbar
      color: black
      display: block
      float: left
      font-size: 14px
      height: 28px
      line-height: 28px
      margin-left: 1%
      margin-top: 6px
      text-align: center
      text-decoration: none
      overflow: hidden
      width: 30%
    a.selected
      background-color: white
      border-bottom: 1px solid white

#content
  background-color: white
  padding:
    top: 10px
    bottom: 20px
  #page_menu
    -webkit-box-sizing: border-box
    height: 30px
    position: relative
    a
      -webkit-box-sizing: border-box
      background-color: #d8dfea
      border: 1px solid #d8dfea
      color: #3b5998
      display: block
      float: left
      font:
        size: 12px
        weight: bold
      height: 22px
      line-height: 20px
      width: 22%
      margin:
        left: 1%
        top: 2px
        bottom: 6px
      text:
        align: center
        decoration: none
    a.selected
      background-color: white
  #page
    font-size: 14px
    #activities
      a
        text-decoration: none
        color: black
        border-bottom: 1px dashed #bbb
      .activity
        display: block
        padding: 10px
        border-bottom: 1px solid #dddddd
        min-height: 50px
        .thumb_avatar
          border: none
          float: left
          width: 48px
          height: 48px
          margin-right: 10px
        .container
          padding-left: 60px
          word-wrap: break-word
          span.user
            font-weight: bold
        .date
          float: right
          font-size: 10px
          color: #999999
    #projects, #conversations, #people, #pages
      div.project, div.conversation, div.person, div.project_page
        font-size: 16px
        display: block
        border-bottom: 1px solid #dddddd
        a
          color: #3b5998
          text-decoration: none
          display: block
          padding: 10px
        a.new
          color: #555555
    #people
      div.person
        padding: 10px
        div.thumb_avatar
          float: left
          width: 48px
          height: 48px
          margin-right: 10px
        .person_header
          float: left
          .name
            p
              margin: 0.25em 0em
        h2
          padding: 0px
          margin: 0px
          font-size: 12px
          a
            padding: 0px
            font-size: 16px
    div.invitation
      div.new_user_avatar
        float: left
        width: 48px
        height: 48px
        margin-right: 10px
        background: rgb(200, 240, 200)
        p
          color: rgb(150, 190, 150)
          font-size: 24px
          margin:
            left: 15px
            top: 7px
        
    #task_lists
      div.new
        font-size: 16px
        display: block
        a
          color: #3b5998
          text-decoration: none
          display: block
          padding: 10px
        a.new
          color: #555555
    #people
      #pending
        margin-top: 15px
        font-size: xx-small
        float: right
    #card
      .person, .phone, .email_address, .website, .address
        font-size: 16px
        display: block
        border-bottom: 1px solid #dddddd
        a
          color: #3b5998
          text-decoration: none
          padding: 10px
        a.new
          color: #555555
      .type
        margin-top: 15px
        font-size: x-small
        padding: 5px

div.task_list, div.task_list_closed
  width: 100%	
  font-size: 16px	
  display: block
  a	
    color: #3b5998
    text-decoration: none
    padding: 10px
  .head
    font-size: 14px
    border-bottom: solid 1px rgb(240,240,240)
    padding: 5px
    color: rgb(100,100,100)
    .dates
      float: right
      padding: 0
        top: 6px
        right: 20px
      font-size: 10px
      color: rgb(150,150,150)
    a
      font-weight: bold
  .archive
    display: none
  .task
    .inner
      padding:	
        top: 4px
        bottom: 4px
    .taskStatus
      text-align: right
      float: left
      width: 30px
      padding:
        left: 20px
      span
        display: block
        width: 23px
        padding: 0
        text-align: center
    .taskName
      font-size: 12px
      padding-left: 4px
      span.assigned
        color: rgb(100,100,100)
        padding: 1px 5px
        margin-right: 5px
        font-size: 11px
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
        background: rgb(245,245,245)
        border: solid 1px rgb(225,225,225)
        text-transform: uppercase
        display: inline-block
        a
          color: rgb(100,100,100)
        a:hover
          text-decoration: none
          color: rgb(0,0,0)
      span.status, span.project, span.task_list
        display: none
  .task.overdue
    background: rgb(255,240,240)
    .taskName
      a
        color: rgb(200,0,0)
        font-weight: bold
      span
        background: rgb(255,255,255)
        border: solid 1px rgb(240,200,200)
        color: rgb(200,0,0)
        font-weight: bold
        a
          color: rgb(200,0,0)
          font-weight: normal
  .task.mine
    background: rgb(255,255,210)
    .taskName
      a
        font-weight: bold
      span
        background: rgb(255,255,255)
        border: solid 1px rgb(200,200,240)
        font-weight: bold
        a
          color: #555
          font-weight: normal
  .task.overdue.mine
    .taskName
      span
        color: rgb(200,0,0)

.task_list_container
  .new_task
    padding: 5px 0px 5px 15px
    font-size: 12px
  margin-bottom: 10px

.task_list_container.archived
  .new_task
    display: none
  .archive
    display: block
  .head
    :border-bottom 0px
    a
      color: #ccc

.show_projects
  .comment, .activity
    .project, .project_arr
      display: none

.new_sessions, .create_sessions
  padding-left: 10px
  background-color: white
  a, a:hover
    color: rgb(150, 150, 150)
    text-decoration: none
  p.error
    background: #FF8D98
    padding: 5px
    display: inline-block

.new_conversations, .create_conversations
  .watchers
    .user
      float: left
      width: 100%
      input, label
        display: inline

.show_tasks
  .project, .project_arr, .target, .target_arr
    display: none

.show_task_lists
  a
    text-decoration: none
    color: #3b5998
  .project, .project_arr
    display: none

.statuses
  .status
    input
      display: inline

.watching
  padding-left: 10px
  font-size: 12px
  a
    color: #999999

.actions_menu
  position: relative
  float: right
  padding: 0
    top: 4px
  font-size: 12px
  color: rgb(150,150,150)
    text-transform: none
  img
    opacity: 0.4
  &:hover
    color: #000
    img
      opacity: 1
    .extra
      display: block
  .extra
    display: none
    position: absolute
    z-index: 1000
    top: 17px
    right: 0
    margin: 0
    padding: 3px 0
    white-space: nowrap
    background: white
    border: 1px solid #ccc
    a
      display: block
      padding: 3px 5px
      font-weight: normal
      &:hover
        background: $navbar
        text-decoration: none
        cursor: pointer
    .tactione
      color: #ccc
      padding: 3px 5px

.actions_menu.loading
  &:hover
    color: #000
    img
      opacity: 1
    .extra
      display: none


span.task_status, span.current_task_status
  padding: 0 3px
  text-transform: uppercase
  color: rgb(255, 255, 255)
  font-size: 11px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  display: inline-block

.task_status_new
  background: #9da3a7

.task_status_open
  background: #ffc947

.task_status_hold
  background: #be3cff

.task_status_resolved
  background: #afd142

.task_status_rejected
  background: #e97063

img.drag
  display: none

div.pageSlot
  padding: 5px 0px
  padding-left: 46px
  margin-left: -46px
  padding-bottom: 10px

div.divider
  background: url(../images/divider.jpg) repeat-x center
  padding-left: 10px
  h3
    padding-top: 3px
    span
      background: rgb(255, 255, 255)
      padding: 0px 5px
  p.actions
    float: right
    margin: 0px
    a.delete
      color: red
  p.handle
    position: relative
    margin: 0px
    float: none
    span
      background: rgb(255, 255, 255)
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
      padding: 3px 0px
      left: 2px
      bottom: 0px
      position: absolute
      display: block
      width: 32px
      height: 18px
      left: -32px
      top: 2px
      img
        cursor: move

div.note
  p.actions
    float: right
    margin: 0px
    a.delete
      color: red
  p.handle
    position: relative
    margin: 0px
    float: none
    span
      background: rgb(255, 255, 255)
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
      padding: 3px 0px
      left: 2px
      bottom: 0px
      position: absolute
      display: block
      width: 32px
      height: 18px
      left: -32px
      top: 2px
      img
        cursor: move

div.upload
  padding: 15px 0px
  border:
    top: 1px solid white
    bottom: 1px solid white
  margin: 0px
    left: 6px
  .info
    width: 60px
    padding-right: 10px
    float: left
    a
      display: block
      text-align: center
      text-transform: uppercase
      background: rgb(100, 100, 100)
      color: rgb(255, 255, 255)
      font-size: 16px
      padding: 3px 0px
        top: 14px
      width: 48px
      height: 28px
      margin-left: 6px
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
      letter-spacing: 0.1em
      font-family: Georgia
    a.jpg, a.gif, a.png, a.tga, a.tiff, a.eps, a.bmp
      background: rgb(11, 183, 182)
    a.xls, a.xlsx
      background: rgb(94, 148, 48)
    a.txt, a.c, a.cpp, a.css, a.dat, a.exe, a.h, a.hpp, a.html, a.java, a.php, a.py, a.rb, a.rtf, a.sql, a.xml, a.yml
      color: rgb(87, 107, 116)
      background: rgb(215, 224, 229)
    a.rar, a.tzg, a.zip, a.iso, a.dmg
      background: rgb(222, 185, 54)
    a.avi, a.flv, a.qt, a.mp4, a.mov, a.mpg
      background: rgb(157, 71, 154)
    a.aac, a.aiff, a.mid, a.mp3, a.wav
      background: rgb(98, 95, 155)
    a.pdf, a.ics
      background: rgb(202, 33, 39)
    a.doc, a.odt, a.ott
      background: rgb(24, 93, 128)
    a.psd
      background: rgb(0, 111, 148)
    a.ai
      background: rgb(216, 71, 108)
    a.key, a.odf, a.otp, a.ppt
      background: rgb(214, 103, 39)
    a.dotx, a.ods, a.ots
      background: rgb(105, 161, 53)
    a.dxf, a.dwg
      background: rgb(12, 164, 227)
  .block
    float: left
    .description
      color: #999999
      font-style: italic
    .name
      font-size: 12px
      margin-bottom: 5px
      border-bottom: solid 1px rgb(235, 235, 235)
      a
        font-size: 12px
        font-weight: bold
    .date
      font-size: 10px
      color: rgb(180, 180, 180)
    .body
      font-size: 12px

div.pageSlots
  p.actions
    display: none
    a.widget_delete
      display: none
  p.actions.handle
    display: none

div.pageSlots.edit
  p.actions
    padding-right: 4px
    padding-left: 4px
    background-color: white
    display: block
  p.actions.handle
    display: none
    
body.show_pages,body.edit_pages
  div.page_header
    display: block
    margin-bottom: 10px
    .text_actions
      margin-top: 5px
      padding-right: 6px
      float: right
      font-size: 12px
      color: rgb(200, 200, 200)
      a
        color: #555
        text-decoration: underline
    .description
      font-size: 12px
      color: rgb(180, 180, 180)
  h3
    font-size: 18px
    margin: 0px
  h2
    border-bottom: 2px solid rgb(240, 240, 240)
    font-size: 20px
    font-weight: normal
    margin-bottom: 1em
    margin-top: 10px
    padding-bottom: 3px
  p
    font-size: 12px
    line-height: 1.4em
  div.buttons
    border-top: 1px solid #afafaf
    border-bottom: 1px solid #afafaf
    background: #ededed
    padding: 6px 10px
    margin: 6px 0px
    span.add
      font-weight: bold
    .add_button
      color: #555
      padding: 2px
  div.upload
    .block
      float: left
      .date
        float: none
        margin-right: 4px
    .actionContainer
      display: none

div.submit
  padding: 6px 10px
  input
    display: inline-block

div.destruct_submit
  padding: 6px 10px
  text-align: right
  input[type=submit]
    display: inline-block
    background: #F60200

div.documentation
  float: right

#footer
  border-top: 1px solid #bdbfc4
  a
    -webkit-box-sizing: border-box
    font-size: 12px
    color: #555555
    display: block
    float: left
    text-align: center
    width: 48%
    padding: 15px 0
