.text_field
  = label_tag :login, t('.username_or_email')
  = text_field_tag 'login', @login, :autofocus => true

.text_field
  = label_tag :password, t('.password')
  = password_field_tag 'password', nil