.oauth_logins
    %p= link_to image_tag("login_with_github.png"), 'https://teambox.com/auth/github'
    %p= link_to image_tag("login_with_facebook.png"), 'https://teambox.com/auth/facebook'
    %p= link_to image_tag("login_with_twitter.png"), 'https://teambox.com/auth/twitter'