-form_tag session_path, :class => 'new_session', :id => 'new_session' do
  %h2= t('.title')
  = session_fields
  .submit
    = submit_tag t('.submit')
  .for
    %p=link_to 'Forgot your password?', ''
    %p=link_to 'Forgot your username?', ''
    
= javascript_tag("$('new_session').auto_focus();")