-content_for :banner do
  =calendar_nav(@current_project,@year,@month)
  .calendar  
    = build_calendar(@comments,@year,@month)

-content_for :column do
  =list_hour_users(@users_displayed)
 
= new_hour_comment_form(@current_project) 
#comments
  =list_comments(@comments)