-content_for :banner do
  =calendar_nav(@current_project,@year,@month)
  .calendar#calendar
    = build_calendar(@comments,@year,@month)

-content_for :column do
  %select#user_filter
    =list_hour_users(@users_displayed)
  =observe_user_filter
 
= new_hour_comment_form(@current_project) 
#comments
  =list_comments(@comments)