.activity
  {{#user}}
  <a href="{{url}}" class="micro_avatar" style="background: url({{micro_avatar_url}}) no-repeat"></a>
  {{/user}}
  .activity_block
    .date
      %time.timeago{ :'data-msec' => "{{ms updated_at}}", :pubdate => "true" }
        {{time_ago updated_at}}
    %p
      {{#user}}
      %a{ :href => "{{url}}" } {{full_name}}
      {{/user}}
      edited the page
      {{#target}}
      %a{ :href => "{{url}}" } {{name}}
      {{/target}}
      %span.project
        in the project
        {{#project}}
        %a{ :href => "{{url}}" } {{name}}
        {{/project}}
