.overlay_badge
  %img{ :src => '/images/badges/2.jpg' }
  .text
    %h2 Your first Conversation!
    %p
      This is your first step in the way to better team communication.
      Conversations are the best way to discuss with your team.
    %p
      Use conversations as a smart replacement of emails: faster and more transparent.
  .clear
