.overlay_badge
  %img{ :src => '/images/badges/1.jpg' }
  .text
    %h2 Let's get started!
    %p
      Your first project is ready. Projects are a shared space for discussions, tasks and files.
    %p
      Next, invite users and start collaborating.
  .clear
