.overlay_badge
  %img{ :src => '/images/badges/5.jpg' }
  .text
    %h2 Invitations sent!
    %p
      We just sent your contacts an email to join your project.
      Everything inside Teambox is private and secure.
    %p
      Create a project for each workgroup you're involved with,
      and send invites to everybody related to it.
  .clear
