.overlay_badge
  %img{ :src => '/images/badges/1.jpg' }
  .text
    %h2 Let's get started!
    %p
      Your first project is ready. You can now invite your colleagues
      and start adding content to it.
    %p
      Projects are a shared space for discussions, tasks and files.
  .clear
