.overlay_badge
  %img{ :src => '/images/badges/5.jpg' }
  .text
    %h2 Invitations sent!
    %p
      You just sent your contacts an email to join your project.
      Teambox is private and secure and only project members can see your content.
    %p
      Tip: Create a project for each workgroup you're involved with,
      and send each member an invitation.
  .clear
