.overlay_badge
  %img{ :src => '/images/badges/4.jpg' }
  .text
    %h2 Your first Page!
    %p
      A <strong>shared place</strong> to post important notes for your team.
    %p
      Use pages to keep your information in one place: documents, reference, etc.
  .clear
