.overlay_badge
  %img{ :src => '/images/badges/3.jpg' }
  .text
    %h2 Your first Task!
    %p
      <strong>Keep track</strong> of what needs to be done and delegate tasks to your team.
    %p
      Stay on top of your tasks inside each Project. You'll never miss a deadline!
  .clear
