.empty
.DS_Store
.idea
.bundle
*.esproj
.sass-cache
assets
config/database.yml
config/teambox.yml
coverage
db/*.sqlite3
db/sphinx
config/*.sphinx.conf
log/*.log
tmp
public/avatars
public/stylesheets
uploads
webrat-*
capybara-*
rerun.txt
