.empty
.DS_Store
.idea
.bundle
*.esproj
.sass-cache
assets
coverage
db/*.sqlite3
db/sphinx
config/*.sphinx.conf
log/*.log
tmp
public/avatars
public/stylesheets/*.css
public/stylesheets/**/*.css
uploads
webrat-*
capybara-*
