.empty
.DS_Store
.idea
.bundle
.rvmrc
.rbenv-version
*.esproj
.sass-cache
/assets
config/database.yml
config/teambox.local.yml
/coverage
/exports
/imports
db/*.sqlite3
db/sphinx
config/*.sphinx.conf
log/*.log
log/*.pid
tmp
public/avatars
public/api
public/logos
public/jammit/*
public/stylesheets
public/sprockets.js
public/trimmer
public/jammit
/uploads
webrat-*
capybara-*
rerun.txt
teambox2
.pre-commit
.git_fail_words
.vagrant
.gitignore
vendor/gems
config/redis.yml
