%p=raw "An activity is a record of what happened in a #{link_to_doc_model(:project)}."

- doc_for :index,
          :example => example_api_wrap([@activity],
            :references => true) do
  %p=raw "Returns the most recent activities in the project. Related objects required to reconstruct a Teambox timeline are stored in <tt>references</tt>."
  %p=raw "By default all the activities will be returned, but by providing <tt>threads=true</tt> as a <tt>GET</tt> parameter, comments inside threads won't be returned. This is ideal for apps that want to display a compact view of activities (such as the collapsed view on the web version)."

- doc_for :show,
          :example => example_api_wrap(@activity, :references => true) do
  %p=raw "Returns the data for an activity in the project."

- ignore_doc_for :create
- ignore_doc_for :update
- ignore_doc_for :destroy

