%p=raw "A conversation is a group of comments. It can also act as a thread in the project overview."
%p=raw "Comments belong to a #{link_to_doc_model(:project)}."

- doc_for :index,
          :example => example_api_wrap([@conversation], :references => true), :parameters => {:type => "thread|conversation"} do
  %p=raw "Returns the most recent conversations in a project."
  %p=raw "Conversations can either be threads (i.e. simple = true), or normal conversations visible in the conversations section. Use the <tt>type</tt> parameter to filter between the two, or omit it to enumerate both."

- doc_for :show,
          :example => example_api_wrap(@conversation, :references => true),
          :includes => [:comments, :user] do
  %p=raw "Returns the data for a conversation."
  
- doc_for :create,
          :parameters => {:name => 'Conversation', :body => 'Well...', :project_id => 123 },
          :example => @conversation.to_api_hash(:include => [:comments]),
          :status => :created,
          :role => :participant do
  %p=raw "Creates a new conversation. The <tt>body</tt> parameter is used for the first comment, which is returned in <tt>comments</tt>."

- doc_for :update,
          :parameters => {:name => @conversation.name },
          :status => :updated,
          :role => :participant do
  %p=raw "Updates the title of a conversation."

- doc_for :convert_to_task,
          :parameters => {:name => 'Mobile App', :task_list_id => 123, :comment => {:body => 'Lets taskify this conversation'}},
          :status => :created,
          :example => @task.to_api_hash(:include => [:comments]),
          :role => :participant do
  %p=raw "Converts a conversation to a task, returning the created task."
  %p=raw "Parameters are optional, with the exception of <tt>name</tt> being required in the case of simple conversations."

- doc_for :watch,
          :status => :updated,
          :role => :participant do
  %p=raw "Adds the current user to the watchers list of the comment."

- doc_for :unwatch,
          :status => :updated,  
          :role => :participant do
  %p=raw "Removes the current user from the watchers list of the comment."

- doc_for :destroy,
          :status => :deleted,
          :role => :admin do
  %p=raw "Destroys a conversation."
