%p=raw "Projects contain most of the objects present in Teambox."

- doc_for :index,
          :example => example_api_wrap([@project], :references => true) do
  %p=raw "Returns the most recent projects you own or belong to. You can also filter by organization by passing in <tt>organization_id</tt>."

- doc_for :show,
          :example => example_api_wrap(@project, :references => true),
          :includes => [:organization, :people, :user] do
  %p=raw "Returns the data for a given project"
  
- doc_for :create,
          :parameters => {:organization_id => @project.organization_id, :name => 'Name', :permalink => 'project' },
          :example => @project.to_api_hash,
          :status => :created do
  %p=raw "Creates a new project"

- doc_for :update,
          :parameters => {:name => @project.name, :permalink => @project.permalink },
          :status => :updated,
          :role => [:admin, :owner] do
  %p=raw "Updates a project"

- doc_for :destroy,
          :status => :deleted,
          :role => [:owner] do
  %p=raw "Destroys a project. You must be the owner in order to perform this action."
