Copy following source code to embed google document on your website
%br
%div#embeded_gdoc_source
  :escaped
    <iframe src="https://docs.google.com/document/pub?id=#{@google_doc.document_id}&embedded=true"></iframe>
