.comment{:id => "comment_#{comment.id}" }
  .info
    =activity_comment_icon(comment)
    =comment_actions_link(comment)
    =thumb_avatar(comment.user)
    - if false ##unless comment.hours.nil?
      .hours
        =hour_image
        %span
          =comment.hours
          hr
  .block
    .date
      = posted_date comment.created_at
    .name
      =activity_comment_user_link(comment)
      =activity_comment_project_link(comment)
      =activity_comment_target_link(comment)
      =comment_user_link(comment)
    .body
      = comment.body_html
    - if comment.uploads.count > 0
      .upload_list
        = list_uploads_inline(comment.uploads)
        %br
  .clear