- remote_form_for comment do |f|
  = comment_fields(f,comment,true)
  .upload
    = upload_a_file_link(comment)
  .submit
    = f.submit t('.submit')
    or
    = cancel_edit_comment_link(comment)
  .clear