- comment_form_for(form_url) do |f|
  = hidden_field_tag :original_controller, controller_name
  .body.text_area
    = f.text_area :body, :class => 'comment_body', :id => 'comment_body', :style => 'margin-left: 10px; height: 50px; width: 95%'
  .extra
    .submit{ :id => js_id(:new_submit,Comment.new) }
      = f.submit t('.submit'), :style => 'margin-left: 10px'
    .clear  

= javascript_tag "$('new_comment').auto_focus()"