- content_for :column do
  &nbsp;
  
- form_for project_people_path, :person do |f|
  %h2 Invite people
  = f.label :search, t('.enter_username_or_email')
  = text_field_tag :search
  = f.submit 'Invite'

.people
  = list_people(@current_project.people)

