- content_for :column do
  asdadff
  
- form_for project_people_path, :person do |f|
  %h2 Invite people
  = f.label :search, t('.enter_username_or_email')
  = text_field_tag :search
  = f.submit 'Invite'

.people
  = render :partial => 'users/user_card', :collection => @current_project.users, :as => :user

