= invite_form(@current_project,Invitation.new)

#people.people
  = list_invitations_for_project(@current_project,@invitations)
  = list_people(@current_project,@people)

- content_for :column do
  = render :partial => 'column'