.comment
  .avatar= thumb_avatar(comment.user)
  .body
    %h3
      =h comment.user
      %span== Posted #{time_ago_in_words(comment.updated_at)} ago
    .textilized
      ~raw comment.body_html
  
    - if comment.uploads.any?
      - if comment.uploads.all? { |upload| upload.image? }
        .upload_images
          = list_uploads_inline_with_thumbnails(comment.uploads)
      - else
        .upload_list
          = list_uploads_inline(comment.uploads)
  .clear