- remote_form_for [project,task_list,task], :html => { :id => task_id(:form,:edit,project,task_list), :class => 'task_form_wrap', :style => 'display: none' } do |f|
  .task_form
    .body.text_field
      = f.text_field :name, :class => 'focus'
    - unless task.new_record?
      .assigned.select
        =f.label :assigned_id, "Assigned to:"
        = f.select :assigned_id, project.people.map {|p| [ p.name, p.id ]}, { :include_blank => true }
    .submit
      = f.submit t('.submit')
      or
      = link_to_function t('.cancel'), hide_edit_task(project,task_list)