- tasks = current_user.pending_tasks
- if tasks.any?
  .my_tasks_listing
    %h2= t('.tasks')
    - for task in tasks
      .task{ :"data-id" => task.id, :id => "my_tasks_#{task.id}" }
        .loading_icon{ :style => 'display: none' }
        .left_arrow_icon
        = render_due_on(task,current_user)
        = link_to task, project_task_list_task_path(task.project_id, task.task_list_id, task)