#show_task
  =task_header(project,task_list,task)
  =task_form(project,task_list,task)
  = new_comment_form(project, :target => task)

  #comments
    = list_comments(task.comments,task)

  = people_watching(task)