%h2= t('.title')


%p= @task_list

- form_for [@current_project,@task_list,@task], :html => {:class => 'app_form'} do |f|
  = task_fields(f,@current_project,@task_list,@task)
  = f.submit t('.submit')
