%h2= t('.title')

%p=h @task_list

= form_for [@current_project,@task_list,@task] do |f|
  = render 'tasks/fields', :f => f, :project => @current_project, :task_list => @task_list, :task => @task
  = f.submit t('.submit')