= form_for [@current_project,@task_list,@task], :html => {:class => 'app_form new_task', :multipart => true} do |f|
  = render 'tasks/fields', :f => f, :project => @current_project, :task_list => @task_list, :task => @task
  = f.submit t('.submit'), :'data-disable-with' => t('.sending')
