=task_list_column(@current_project,@task_lists,@task)

.task_title  
  =task_action_links(@current_project,@task_lists,@task)
  %h2.title
    Comment on
    =@task.name
  
= new_comment_form(@current_project,@task)

#comments
  = list_comments(@comments,@task)