{{#users}}
.user{ :'data-user-id' => '{{id}}' }
  .avatar
    %a.thumb_avatar{ :style => "background: url({{thumb_avatar_path}}) no-repeat" }
  .main
    {{#belongs_to_project}}
    %a{ :href => '/users/{{id}}' } {{first_name}} {{last_name}}
    %p This user is already in the project.
    {{/belongs_to_project}}
    {{^belongs_to_project}}
    %a.invite_user{ :href => '#' } {{first_name}} {{last_name}}
    %a.button{ :href => '#' } Select
    {{/belongs_to_project}}
  .clear
{{/users}}

%p Select a user. Next, you will be asked to define the permissions for this user. 
