- content_for :column do
  - if can? :converse, project
    = new_conversation_link(project)
  - else
    %p= t('.cant_create')
  = instructions_for_email(project)
  .conversations
    = render conversations, :project => project, :current_target => conversation