- content_for :column do
  - unless project.nil?
    = new_conversation_link(project)
  .conversations
    = list_conversations(conversations,conversation)
  =#conversations_settings if show_conversation_settings
  =#comments_settings if show_comments_settings