- classes = "#{ 'active' if current_target == conversation } conversation_item"
.conversation{ :id => conversation_id(:item,project,conversation), :class => classes }
  %span.comments_count= conversation.comments_count
  = the_conversation_link(conversation)
.clear