.conversation{ :id => conversation_id(:item,project,conversation), :class => "#{ 'active' if current_target == conversation } conversation_item" }
  = comments_count(conversation,:column)
  = the_conversation_link(conversation)
.clear