- classes = "conversation_item"
- classes += ' active' if defined?(current_target) && current_target == conversation
.conversation{ :id => "Conversation_#{conversation.id}", :class => classes }
  %span.comments_count= conversation.comments_count
  = the_conversation_link(conversation)
.clear