= conversation_column(@current_project,@conversations, :show_conversation_settings => true)

- unless @conversations.empty?
  #conversations
    = list_short_conversations(@conversations)
- else
  =conversations_primer

