= conversation_column(@current_project,@conversations, :show_conversation_settings => true)

- if @conversations.any?
  #conversations
    = render :partial => 'conversations/short_conversation', :as => :conversation, :collection => @conversations
- else
  = conversations_primer(@current_project)