= conversation_column(@current_project,@conversations, :current_conversation => @conversation, :show_comments_settings => true)

.conversation_header
  =conversation_action_links(@current_project,@conversation)
  %h2= @conversation.name

#comments
  = list_comments(@comments,@conversation)
  
= new_comment_form(@current_project, :target => @conversation)

