- AppLink.providers.each do |provider|
  %p
    - if current_user.app_links.find_by_provider(provider)
      = t(:'oauth.your_account_is_linked', :provider => provider)
      = link_to t(:'oauth.link_account'), unlink_app_path(provider.downcase)
    - else
      = t(:'oauth.your_account_is_not_linked', :provider => provider)
      = link_to t(:'oauth.unlink_account'), oauth_request_path(provider.downcase)
