.task_header, .task_list_header {
  display: block;
  padding: 5px 0px;
  font-size: 12px; }
  .task_header h2, .task_list_header h2 {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 3px; }
    .task_header h2 span.task_status, .task_list_header h2 span.task_status {
      padding: 2px 5px;
      font-size: 12px; }

.task_header span.due_on {
  display: block;
  color: rgb(160,160,160);
  margin-right: 10px; }
.task_header span.overdue {
  color: rgb(200,0,0);
  font-weight: bold; }
.task_header span.assignment {
  color: rgb(160,160,160); }
  .task_header span.assignment a {
    color: rgb(160,160,160);
    text-decoration: underline; }
  .task_header span.assignment a:hover {
    color: rgb(0,0,200); }
.task_header .text_actions {
  float: right;
  font-size: 12px;
  color: rgb(200,200,200); }
  .task_header .text_actions a {
    text-decoration: underline; }
.task_header .watching {
  font-size: 12px;
  margin-left: 20px;
  color: rgb(180,180,180); }
