table.task_list {
  width: 100%;
  margin-bottom: 10px; }
  table.task_list th {
    font-size: 14px;
    border-bottom: solid 1px rgb(200,200,200);
    padding-bottom: 5px; }
  table.task_list td.status {
    text-align: right;
    width: 100px; }
  table.task_list td {
    padding: 4px 5px;
    border-bottom: solid 1px rgb(240,240,240); }
    table.task_list td span.task_status {
      font-size: 11px;
      padding: 1px 5px; }
  table.task_list .comments_count {
    width: 1%;
    text-align: right; }
  table.task_list tbody th {
    font-size: 11px;
    background: rgb(200,200,200);
    color: rgb(100,100,100);
    padding: 2px 5px;
    border-right: solid 1px rgb(150,150,150);
    border-top: solid 1px rgb(100,100,100); }
  table.task_list tbody td.name span {
    color: rgb(100,100,100);
    padding: 1px 5px;
    margin-right: 5px;
    font-size: 11px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: rgb(245,245,245);
    border: solid 1px rgb(225,225,225);
    text-transform: uppercase; }
    table.task_list tbody td.name span a {
      color: rgb(100,100,100); }
    table.task_list tbody td.name span a:hover {
      text-decoration: none;
      color: rgb(0,0,0); }
  table.task_list tbody tr.mine td {
    background: rgb(240,240,255);
    border-bottom: solid 1px rgb(230,230,240); }
  table.task_list tbody tr.mine td.name a {
    font-weight: bold; }
  table.task_list tbody tr.mine td.name span {
    background: rgb(255,255,255);
    border: solid 1px rgb(200,200,240);
    color: rgb(0,0,200);
    font-weight: bold; }
    table.task_list tbody tr.mine td.name span a {
      color: rgb(0,0,200);
      font-weight: normal; }
  table.task_list tbody tr.overdue td {
    background: rgb(255,240,240);
    border-bottom: solid 1px rgb(240,230,230); }
  table.task_list tbody tr.overdue td.name a {
    color: rgb(200,0,0);
    font-weight: bold; }
  table.task_list tbody tr.overdue td.name span {
    background: rgb(255,255,255);
    border: solid 1px rgb(240,200,200);
    color: rgb(200,0,0);
    font-weight: bold; }
    table.task_list tbody tr.overdue td.name span a {
      color: rgb(200,0,0);
      font-weight: normal; }
