div.column_wrap
  :float right
  :width 300px
  h2
    :font-size 12px
    :text-transform uppercase
    :margin-bottom 5px  
  p
    :font-size 12px
  div.column  
    h2
      :border-bottom solid 1px rgb(200,200,200)
    :background rgb(230,230,230)
    :padding 10px
    :-moz-border-radius
      :bottomleft 5px
      :bottomright 5px
    :-webkit-border-bottom-left-radius 5px
    :-webkit-border-bottom-right-radius 5px
    div.active
      :-moz-border-radius 5px
      :-webkit-border-radius 5px
      :background rgb(255,255,0)
      :border solid 1px rgb(200,200,0)