form#new_comment
  :padding-bottom 3px
  :border-bottom solid 1px rgb(220,220,220)
  .body
    :margin-bottom 5px  
    textarea
      :width 626px
      :margin-bottom 0px
  .comment_body
    :height 4em
    :color rgb(0,0,0)

  .extra
    a#comment_upload_link
      :float left
    .assigned
      :margin-left 10px
      label
        :display none
    .statuses
      label
        :display none
      :float left
      :margin-top 2px
      :margin-left 4px
      .status
        :cursor pointer
        :float left
        :-moz-border-radius 4px
        :-webkit-border-radius 4px
        :border solid 1px rgb(200,200,200)
        :background rgb(240,240,240)
        :color rgb(80,80,80)
        :font-size 11px
        :text-align center
        :text-transform uppercase
        :padding 2px 5px
        :margin-left 5px
        input
          :display none
      .status:hover
        :color rgb(255,255,255)
      .active
        :background rgb(140,140,140)
        :border solid 1px rgb(0,0,0)
        :color rgb(255,255,255)
      .open:hover
        :background rgb(100,100,200)
        :border solid 1px rgb(100,100,200)
      .hold:hover
        :background rgb(200,200,100)
        :border solid 1px rgb(200,200,100)
      .resolved:hover
        :background rgb(0,200,0)
        :border solid 1px rgb(0,200,0)
      .rejected:hover
        :background rgb(200,0,0)
        :border solid 1px rgb(200,0,0)
    select
      label 
      :margin 0px
        :left 10px
      :padding 0px
    .submit
      :padding
        :top 3px
      :text-align right
      :float right
      :width 200px
form.edit_comment
  :padding 5px
  :-moz-border-radius 8px
  :-webkit-border-radius 8px
  :background rgb(230,230,230)
  .hours
    label
      :display inline
    input
      :width 3em
  .body
    :padding 5px
    textarea
      :width 578px
      :height 45px
  .submit
    :margin-top 3px
    :float right
  a.add_upload, a.add_hours
    :display block
    :margin-left 5px
    :font-size 12px
    &:hover
      :text-decoration none
  div.submit
    input
      :border none
      :background url('../images/comment_submit_button.jpg') no-repeat
      :width 125px
      :height 30px
      :font-size 16px
      :font-weight bold
  
.comment
  :margin 0px
    :top 15px
    :bottom 15px
  &:hover
    p.actions
      :visibility visible
  p.actions
    :visibility hidden
    :position relative
    :margin 0px
    span
      :overflow auto
      :position absolute
      :display block
      :width 16px
      :height 40px
  .info  
    :width 80px
    :float left
    .thumb_avatar
      :float right
    p.activity_icon
      :position relative
      img
        :overflow auto
        :position absolute
        :display block      
    .unread
      :float left
      :position relative
      :margin-top 20px
      :width 16px
    .hours
      :padding-left 1px
      :padding-right 10px
      :clear both
      :font-size 11px
      img
        :vertical-align middle
      span
        :vertical-align middle
  span.author, span.project
    :color rgb(120,120,120)
    a
      :color rgb(80,80,80)
      :font-weight normal
  span.arr
    :color rgb(140,140,140)
  .block
    :width 560px
    :float right
    .name
      :font-size 12px
      :margin-bottom 5px
      :border-bottom solid 1px rgb(235,235,235)      
      a
        :font-size 12px
        :font-weight bold
    .date
      :float right
      :font-size 10px
      :color rgb(180,180,180)
    .body
    .clear
.comment_hover
  .block
    .name
      :border-bottom solid 1px rgb(200,200,200)
    .date
      :color rgb(0,0,0)

span.comments_count
  :text-align center
  :color rgb(100,100,100)
  :padding 1px 5px
  :margin-right 5px
  :font-size 10px
  :-moz-border-radius 4px
  :-webkit-border-radius 4px
  :background rgb(245,245,245)
  :border solid 1px rgb(225,225,225)