form#new_comment, form.edit_comment
  :padding 5px
  :-moz-border-radius 8px
  :-webkit-border-radius 8px
  :background rgb(230,230,230)
  .hours
    label
      :display inline
    input
      :width 3em
  .body
    :padding 5px
    textarea
      :width 578px
      :height 80px
  .submit
    :margin-top 3px
    :float right
  a.add_upload, a.add_hours
    :display block
    :margin-left 5px
    :font-size 12px
    &:hover
      :text-decoration none
  div.submit
    input
      :border none
      :background url('../images/comment_submit_button.jpg') no-repeat
      :width 125px
      :height 30px
      :font-size 16px
      :font-weight bold
  
.comment
  :margin 0px
    :top 15px
    :bottom 15px
  &:hover
    p.actions
      :visibility visible
  p.activity_icon
    :position relative
    img
      :overflow auto
      :position absolute
      :display block      
  p.actions
    :visibility hidden
    :position relative
    :margin 0px
    span
      :overflow auto
      :position absolute
      :display block
      :width 16px
      :height 40px
  .info  
    :width 80px
    :float left
    .thumb_avatar
      :float right
    .hours
      :padding-left 1px
      :padding-right 10px
      :clear both
      :font-size 11px
      img
        :vertical-align middle
      span
        :vertical-align middle
  span.author, span.project
    :color rgb(120,120,120)
    a
      :color rgb(80,80,80)
      :font-weight normal
  span.arr
    :color rgb(140,140,140)
  .block
    :width 530px
    :float right
    .name
      :font-size 12px
      :margin-bottom 5px
      :border-bottom solid 1px rgb(235,235,235)      
      a
        :font-size 12px
        :font-weight bold
    .date
      :float right
      :font-size 10px
      :color rgb(180,180,180)
    .body
      :font-size 12px
      :color rgb(60,60,60)
      p
        :font-family "Lucida Grande",Verdana,Arial,Helvetica,sans-serif
        :line-height 1.3em
        :margin 2px 0 10px
    .clear
.comment_hover
  .block
    .name
      :border-bottom solid 1px rgb(200,200,200)
    .date
      :color rgb(0,0,0)
      
      
      
span.count
  :-moz-border-radius 4px
  :-webkit-border-radius 4px
  :background rgb(160,160,160)
  :color rgb(255,255,255)    
  :text-align center
  :font-size 9px    
  :line-height 1em
  :padding 1px 0px
  :margin-right 4px
  span.total   
    :padding 1px 4px
      :right 2px
  span.unread
    :padding 1px 4px
      :right 2px
    :background rgb(30,30,255)
    :color rgb(255,255,255)
    :-moz-border-radius 4px
    :-webkit-border-radius 4px

span.unread_comments
  :color blue
span.no_unread_comments
  :color rgb(230,230,230)