form#new_comment, form.edit_comment
  .hours
    label
      :display inline
    input
      :width 3em
  .body
    :padding 5px
    textarea
      :width 595px
      :height 80px
  .submit
    :margin-top 3px
    :float right
  a.add_upload, a.add_hours
    :display block
    :margin-left 5px
    :font-size 12px
    &:hover
      :text-decoration none
      
form.edit_comment
  :background rgb(245,245,245)
  :padding 5px
  .hours
    label
      :display inline
    input
      :width 3em
  .body
    textarea
      :width 575px
  .submit
    :float right
    :width 130px
    :padding 5px
      :right 8px
  
.comment
  :margin 0px
    :top 15px
    :bottom 15px
  &:hover
    p.actions
      :visibility visible
  p.actions
    :visibility hidden
    :position relative
    :margin 0px
    span
      :padding 6px 0px
      :overflow auto
      :position absolute
      :display block
      :width 16px
      :height 40px
  .info
    :width 80px
    :float left
    .thumb_avatar
      :float right
    .hours
      :padding-left 1px
      :padding-right 10px
      :clear both
      :font-size 11px
      img
        :vertical-align middle
      span
        :vertical-align middle
  .block
    :width 530px
    :float right
    .name
      :font-size 12px
      :border-bottom solid 1px rgb(235,235,235)
      :margin-bottom 5px
      a
        :font-size 12px
        :font-weight bold
    .date
      :float right
      :font-size 10px
      :color rgb(180,180,180)
    .body
      :font-size 12px
      :color rgb(60,60,60)
      p
        :font-family "Lucida Grande",Verdana,Arial,Helvetica,sans-serif
        :line-height 1.3em
        :margin 2px 0 10px

.comment_hover
  .block
    .name
      :border-bottom solid 1px rgb(200,200,200)
    .date
      :color rgb(0,0,0)