/* Default------------------------------------------------------------------------
html,body 
  :margin 0px 
  :padding 0px
body
  :background rgb(49,48,48)
  :font-family Verdana, Arial, sans-serif
h1 
  :font-size 1.3em
  img
    :vertical-align middle
h1,h2,h3,h4,h5,h6,p,textarea
  :font-family "Helvetica Neue", Helvetica, Arial, sans-serif
h2
  :font-size 1em
img 
  :border none
table
  :border-collapse collapse 
  :clear both 
  :font-size 0.8em
  th 
    :text-align left
    :font-weight normal
  td
    :vertical-align top
abbr 
  :border none
br
  :clear both
textarea
  :border solid 1px rgb(180,180,180)
div.clear 
  :clear both
a
  :color rgb(0,0,150)
  :text-decoration none
a:hover
  :text-decoration underline
    
div.container
  :width 960px
  :margin 0px auto
p
  :margin 0px auto
  :padding 0px

span.unread_comment_count
  :font-weight bold
  :font-size 10px