=round_corners
  :-moz-border-radius
    :topleft 5px
    :topright 5px

div.global_navigation
  :background rgb(76,74,74)
  :float right
  :padding 5px
  :margin-top 10px
  ul
    :margin 0px
    :padding 0px
    :list-style-type none
    li
      :float left
      :display block
      a  
        :float left
        :display block
        :color rgb(255,255,255)
        :font-size 12px
        :margin 0px 7px
      a:hover,a.active
        :color rgb(255,255,0)
div.navigation
  :clear both
  ul
    :margin 0px
    :padding 0px
    :list-style-type none
    :margin-left 15px
  li
    :float left
    :display block
    :margin-right 2px
    +round_corners
    a  
      :float left
      :display block
      :color rgb(255,255,255)
      :text-decoration none
      :padding 5px 8px
      :margin-right 1px
      :font-size 15px
    a:hover
      :text-decoration underline
    a.active
      :color rgb(48,48,48)
      :background rgb(160,228,237)
      +round_corners
  li.button
    a
      :font-size 14px
      :background rgb(43,43,43)
      :padding 4px 8px
    a:hover
      :color rgb(43,43,43)
      :background rgb(211,209,209)
      
div.project_navigation
  :background rgb(160,228,237) url(../images/project_navigation_bg.jpg) no-repeat top
  :padding 5px 10px 0 10px
  ul
    :margin 0px
    :padding 0px
    :list-style-type none
    :margin-left 5px
  li
    :float left
    :display block
    a  
      :float left
      :display block
      :color rgb(26,149,168)
      :text-decoration none
      :padding 4px 10px 6px 8px
      :margin-bottom 0px
      :font-size 12px
      +round_corners
    a:hover
      :color rgb(0,0,0)
      :text-decoration underline
    a.active
      :color rgb(0,0,0)
      :background rgb(255,255,255)
  li.right_side
    :float right
    :margin-
      :right 0px
      :left 10px
    a.active
      :background rgb(230,230,230)
        