=round_corners
  :-moz-border-radius
    :topleft 5px
    :topright 5px
  :-webkit-border-top-left-radius 5px
  :-webkit-border-top-right-radius 5px
@media screen
  div.global_navigation
    :-moz-border-radius 4px
    :-webkit-border-radius 4px
    :background rgb(220,220,220)
    :float right
    :padding 5px
    :margin-bottom 10px
    ul
      :margin 0px
      :padding 0px
      :list-style-type none
      li
        :float left
        :display block
        a  
          :float left
          :display block
          :color rgb(70,70,70)
          :font-size 12px
          :margin 0px 7px
        a:hover,a.active
          :color rgb(90,158,167)
        a.active
          :font-weight bold          
      li.right_side
        :float right
  div.navigation
    :clear both
    :width 960px
    ul
      :margin 0px
      :padding 0px
      :list-style-type none
      :margin-left 15px
    li
      :float left
      :display block
      :margin-right 2px
      :max-width 170px
      :white-space nowrap
      :overflow hidden
      +round_corners
      a  
        :float left
        :display block
        :color rgb(120,120,120)
        :text-decoration none
        :padding 5px 8px
        :margin-right 1px
        :font-size 15px
        :text-shadow white 0px 1px 1px
        +round_corners
      a:hover
        :color rgb(20,20,20)
        :background rgb(245,245,245)
        :text-decoration underline
      a.active
        :color rgb(48,48,48)
        :background rgb(160,228,237)

    li.welcome, li.new
      a.active
        :background rgb(255,255,255)
    li.button
      a
        :font-size 14px
        :background rgb(43,43,43)
        :padding 4px 8px
      a:hover
        :color rgb(43,43,43)
        :background rgb(211,209,209)
      
  div.project_navigation
    :background rgb(160,228,237)
    +round_corners  
    :padding 5px 10px
    ul
      :margin 0px
      :padding 0px
      :list-style-type none
      :margin-left 5px
    li
      :float left
      :display block
      a  
        :float left
        :display block
        :color rgb(26,149,168)
        :text-decoration none
        :padding 4px 10px 6px 8px
        :margin-bottom 0px
        :font-size 14px
        :text-shadow white 0px 1px 1px
        +round_corners
      a:hover
        :color rgb(0,0,0)
        :text-decoration underline
      a.active
        :color rgb(0,0,0)
    li.right_side
      :float right
      :margin
        :right 0px
        :left 10px
    li.welcome_close
      a
        :text-decoration none
      img
        :vertical-align middle
      span  
        :vertical-align middle
div.user_navigation, div.task_navigation, div.project_settings_navigation, div.project_column_navigation
  ul
    :list-style-type none
    :margin 0px
    :padding 0px
    a
      :display block
      :-moz-border-radius 8px
      :-webkit-border-radius 8px    
      :background rgb(240,240,240)
      :border solid 1px rgb(200,200,200)
      :padding 5px 10px
      :margin-bottom 5px
      :font-size 14px
    a:hover
      :color rgb(255,255,0)
      :background rgb(0,0,200)
      :border solid 1px rgb(0,0,200)
    a.active
      :color rgb(255,255,255)
      :background rgb(0,0,200)
      :border solid 1px rgb(0,0,200)
      :text-decoration none

div.project_settings_navigation
  li.deletion
    a
      :color rgb(200,200,200)
      :background rgb(250,250,250)
      :border dashed 1px rgb(230,230,230)
    a.active
      :color rgb(255,255,0)
      :background rgb(200,0,0)
      :border solid 1px rgb(200,0,0)

#projects_tab
  :display block
  :float none

#projects_tab_list
  :z-index 250
  li
    :float none	
    :-moz-border-radius 0px
    :-webkit-border-radius 0px
    :max-width 300px
    :width 300px
    :margin-right 1px
    :font-size 12px
    a
      :padding 0px
      :-moz-border-radius 0px
      :-webkit-border-radius 0px
    a.proj
      :padding 4px 5px
      :width 220px
    .quicklinks
      :float right
      :padding 3px 0px
      :display none
      img
        margin: 0px 2px

#projects_tab_list
  li:hover
    .quicklinks
      display: block

#projects_tab_container
  ul
    :float left
    :position absolute
    :margin-left 0px
    :background-color #ffffff
    :-moz-border-radius 5px
    :-webkit-border-radius 5px
    :-moz-border-top-left-radius 0px
    :-webkit-border-top-left-radius 0px
    :border 2px solid #cccccc
    :display none

#projects_tab_container:hover
  #projects_tab
    :background-color #cccccc
  ul
    :display block

