=actions
  p.actions
    :position relative
    :margin 0px
    span
      :background rgb(255,255,255)
      :padding 0px
        :left 15px
        :top 2px
      :overflow auto
      :position absolute
      :display block
      :width 90px
      :height 25px
      :left -105px
      :top 0px
    a
      :color rgb(0,0,255)
      
#edit_page
  :padding 10px
  .note
    +actions
    :border-bottom 1px solid rgb(230,230,230)
    :padding-bottom 5px
    :margin-bottom 5px
  .edit_note
    textarea
      :width 98%
      :height 200px