.new_project,.edit_project
  :padding 30px

.people_list
  .person
    :font-size 12px
    :margin-left 10px
    :padding-left 15px
    :background transparent url(/images/grey_dot.png) no-repeat scroll 0 4px
  a
    :color rgb(80,80,80)
    :text-decoration none
  a:hover
    :text-decoration underline
  .status
    :float right
    :color #777
  .online
    :background transparent url(/images/green_dot.png) no-repeat scroll 0 4px
    .status
      :display none
  
.project_list
  :font-size 12px
  .project_link
    .unread_comment_count
      :float right
      :font-weight normal
  .new_project_link
    a
      :color rgb(150,150,150)

.subscribe
  :margin-top 15px
  a
    :font-size 12px
    :padding-left 25px
    :background url(/images/feed.png) no-repeat left

.pending_projects
  .project
    :border-bottom 1px solid rgb(230,230,230)
    :padding-bottom 5px
    :margin-bottom 5px
    .name
      :font-weight bold

    form.accept_project, form.decline_project
      :display inline