.new_project,.edit_project
  :padding 30px

.people_list
  .person
    :font-size 12px
    :margin-left 10px
    :padding-left 15px
    :background transparent url(/images/grey_dot.png) no-repeat scroll 0 4px
  a
    :color rgb(80,80,80)
    :text-decoration none
  a:hover
    :text-decoration underline
  .status
    :float right
    :color #777
  .online
    :background transparent url(/images/green_dot.png) no-repeat scroll 0 4px
    .status
      :display none
  
.project_list
  .project_link
    :font-size 12px
    .unread_comment_count
      :float right
      :font-weight normal

.subscribe
  :margin-top 15px
  a
    :font-size 12px
    :padding-left 25px
    :background url(/images/feed.png) no-repeat left
    