.new_sessions a.signup_button, .create_sessions a.signup_button {
  background: url(../images/button_bg.jpg) no-repeat left;
  background: url(http://www.xing.com/img/s/button_r3.png) no-repeat left;
  font-size: 12px;
  padding: 10px;
  padding-left: 20px; }
  .new_sessions a.signup_button span, .create_sessions a.signup_button span {
    color: rgb(40,40,40);
    padding: 5px;
    padding-right: 10px;
    font-weight: bold;
    background: url(http://www.xing.com/img/s/button_r3.png) no-repeat right; }
.new_sessions a.signup_buttosn, .create_sessions a.signup_buttosn {
  background-position: right -69px;
  margin: 0;
  padding: 0 8px 0 0; }
  .new_sessions a.signup_buttosn span, .create_sessions a.signup_buttosn span {
    font-size: 12px;
    background: url(http://www.xing.com/img/s/button_r3.png);
    display: inline-block;
    height: 19px;
    margin: 0 0 0 0px;
    padding: 4px 0 0 18px; }
.new_sessions h2, .create_sessions h2 {
  font-size: 14px;
  margin: 0px;
  background: rgb(160,228,237);
  padding: 5px 10px;
  padding-bottom: 7px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px; }
.new_sessions .header, .create_sessions .header {
  float: left;
  margin-top: 20px; }
.new_sessions .content, .create_sessions .content {
  float: left;
  margin-top: 10px;
  width: 270px; }
.new_sessions form.new_session, .create_sessions form.new_session {
  background: rgb(255,255,255);
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 10px; }
  .new_sessions form.new_session .text_field, .create_sessions form.new_session .text_field {
    color: rgb(100,100,100); }
    .new_sessions form.new_session .text_field input, .create_sessions form.new_session .text_field input {
      width: 100%; }
.new_sessions .for, .create_sessions .for {
  padding-top: 5px; }
  .new_sessions .for p, .create_sessions .for p {
    margin: 2px; }
    .new_sessions .for p a, .create_sessions .for p a {
      font-size: 13px; }
.new_sessions ul, .create_sessions ul {
  padding-left: 15px; }
  .new_sessions ul li, .create_sessions ul li {
    margin-bottom: 3px; }
.new_sessions .column, .new_sessions .sell_column, .create_sessions .column, .create_sessions .sell_column {
  float: right;
  font-size: 12px;
  width: 270px;
  margin-left: 0px;
  margin-top: 10px; }
  .new_sessions .column h3, .new_sessions .sell_column h3, .create_sessions .column h3, .create_sessions .sell_column h3 {
    margin: 0px;
    font-size: 16px;
    font-family: Georgia, "Times New Roman";
    font-style: italic;
    color: rgb(150,150,150); }
  .new_sessions .column .new_to_teambox, .new_sessions .sell_column .new_to_teambox, .create_sessions .column .new_to_teambox, .create_sessions .sell_column .new_to_teambox {
    background: rgb(255,255,255);
    padding: 10px; }
.new_sessions .column, .create_sessions .column {
  margin-right: 20px; }
