div.active_task_list
  :background rgb(255,255,0)
div.active_task
  :background rgb(255,255,0)
    
div.task_list_wrap
  :margin-top 10px
  div.task_list
    a
      :font-size 12px
div.task
  a
    :font-size 12px

div.task_list, div.task
  p.actions
    :position relative
    :margin 0px
    :line-height 1em
    :font-size 1em
    span
      :-moz-border-radius
        :topleft 5px
        :bottomleft 5px
      :-webkit-border-top-left-radius 5px
      :-webkit-border-bottom-left-radius 5px
      :line-height 1em
      :background rgb(230,230,230)
      :padding 4px 0px
        :left 2px
        :bottom 0px
      :position absolute
      :display block
      :width 20px
      :height 20px
      :left -22px
      :top 2px
    
a.add_task_link
  :font-size 12px
  :margin-left 6px
  :color rgb(120,120,120)
  
form.task_form_wrap
  :background rgb(200,200,200)
  :-moz-border-radius 4px
  :-webkit-border-radius 4px  
  div.task_form
    :padding 10px
    .text_field
      :padding-right 10px
      input
        :width 100%
        :border
          :top solid 1px rgb(90,90,90)
          :left solid 1px rgb(150,150,150)
          :bottom solid 1px rgb(150,150,150)
          :right solid 1px rgb(90,90,90)

#task_lists
  :clear both
  
.task_header
  :display block
  :margin-bottom 20px
  h2
    :font-size 16px
    :margin-left 20px
 
  p.actions
    :position relative
    :margin 0px
    span    
      :background rgb(255,255,255)
      :-moz-border-radius 4px
      :-webkit-border-radius 4px
      :padding 3px 0px
        :left 2px
        :bottom 0px
      :position absolute
      :display block
      :width 22px
      :height 40px
      :left -24px
      :top 2px
  .watching
    :font-size 12px
    :margin-left 20px
    :color rgb(180,180,180)
    