.upload
  :margin 0px
    :top 15px
    :left 16px
    :bottom 15px
  .info
    :width 60px
    :float left
    img
      :margin-left 6px
  .block
    :width 560px
    :float right
    .name
      :font-size 12px
      :margin-bottom 5px
      :border-bottom solid 1px rgb(235,235,235)      
      a
        :font-size 12px
        :font-weight bold
    .date
      :float right
      :font-size 10px
      :color rgb(180,180,180)
    .body
      :font-size 12px
      :color rgb(60,60,60)
      p
        :font-family "Lucida Grande",Verdana,Arial,Helvetica,sans-serif
        :line-height 1.3em
        :margin 0
    
.iframe_container
  :height 28px
  :background white
  :font-family "Lucida Grande","Helvetica Neue",Verdana,Arial,Helvetica,sans-serif
  form
    .file, .description
      :font-size 12px
    .description
      :margin-top 5px
    .field .upload_description
      :width 320px

.uploads_current, .upload_images
  :margin 5px
    :left 0px
  :padding 5px
  :clear both
  .upload_thumbnail
    :padding 3px 0px
    :border-top 1px solid rgb(230,230,230)
    :font-size 12px
    %span
      :vertical-align top
.upload_list
  :margin 5px
    :left 0px
  :padding 5px
    :left 0px
  :clear both
  .upload_file
    :font-size 12px
    img
      :margin-right 5px
      :padding-top 2px
    span
      :position relative
      :top -2px
    .size
      :color rgb(120,120,120)

.upload_area
  :clear both
  :border solid 1px rgb(200,200,200)
  :padding 5px
  :margin
    :right 1px
    :bottom 5px
  h3
    :color rgb(100,100,100)
    :font-size 11px
    :margin 0px
      :bottom 7px
    :padding
      :bottom 4px
    :border-bottom solid 1px rgb(210,210,210)
  
iframe.upload_form
  :clear both
  :width 100%
  :height 28px
  :border none
  body
    :background rgb(255,255,255)
  
.index_uploads
  .content
    :padding 10px
  form.new_upload
    :padding 5px
    .text_field
      :padding-right 10px
      input
        :font-size 14px
        :width 100%
    .file     
      label
        :font-size 12px
      input
        :width 200px
        :margin-bottom 15px
        
a.remove
  :color rgb(255,0,0)
  :font-size 12px
  
body.iframe
  :background rgb(255,255,255)