.upload
  :margin 0px
    :top 15px
    :left 16px
    :bottom 15px
  .info
    :width 60px
    :float left
    img
      :margin-left 6px
  .block
    :width 560px
    :float right
    .name
      :font-size 12px
      :margin-bottom 5px
      :border-bottomss solid 1px rgb(235,235,235)      
      a
        :font-size 12px
        :font-weight bold
    .date
      :float right
      :font-size 10px
      :color rgb(180,180,180)
    .body
      :font-size 12px
      :color rgb(60,60,60)
      p
        :font-family "Lucida Grande",Verdana,Arial,Helvetica,sans-serif
        :line-height 1.3em
        :margin 0
    
.iframe_container
  :height 30px
  :overflow none
  :background white
  :font-family "Lucida Grande","Helvetica Neue",Verdana,Arial,Helvetica,sans-serif
  form
    .file, .description
      :font-size 12px
    .description
      :margin-top 5px
    .field .upload_description
      :width 320px

.uploads_current, .upload_images
  :margin 5px
    :left 0px
  :border 1px solid rgb(230,230,230)
  :background-color rgb(240,240,240)
  :padding 5px
  :clear both
  .upload_thumbnail
    :float left
    :margin-right 5px
    
.upload_list
  :margin 5px
    :left 0px
  :padding 5px
    :left 0px
  :clear both
  .upload_file
    :font-size 12px
    img
      :margin-right 5px
      :padding-top 2px
    span
      :position relative
      :top -2px
    .size
      :color rgb(120,120,120)
  
iframe.upload_form
  :width 90%
  :height 30px
  :border 0
  :margin-left 5px
  :margin-top 5px