.new_user
  :width 270px
  :padding 30px
    :right 40px
  :border-right dashed 1px rgb(160,160,160)
  .text_field
    input
      :width 100%

.show_users
  .content
    h2
      :margin 5px 0 0 10px
  .column_wrap
    .profile
      :margin-bottom 20px
    .vcard, .name, .email
      :font-size 12px
    .vcard
      :float right
    

.edit_users, .update_users
  label
    :float left
    :width 120px
    :text-align right
    :padding-right 10px
    :vertical-align middle
  .submit
    :margin 15px 0px 0px 300px

div.upload_avatar
  .avatar
    :float left
    :width 48px
    :height 48px
    :margin-right 5px
    a
      :display block
      :width 48px
      :height 48px
      :margin-right 5px
      :background url(/images/avatar_thumb_corners.png)
    a:hover
      :background url(/images/avatar_thumb_corners_hover.png)
  p.actions
    :padding-top 2px
    :margin 0px
    a
      :display block
      :font-size 12px
      :color rgb(120,120,120)
      :margin-top 5px
      :text-decoration underline
    a:hover
      :text-decoration none

.thumb_avatar
  :float left
  :width 48px
  :height 48px
  :margin-right 10px
  a
    :display block
    :width 48px
    :height 48px
    :margin-right 5px
    &.round_corners
      :background url(/images/avatar_thumb_corners.png)
    &.round_corners:hover
      :background url(/images/avatar_thumb_corners_hover.png)