
.new_user
  :padding 10px

.new_users
  h2
    :display block
    :margin
      :left 30px

.show_users
  .content
    h2
      :margin 5px 0 0 10px
  .column_wrap
    .profile
      :margin-bottom 20px
    .vcard, .name, .email
      :font-size 12px
    .vcard
      :float right
    

.edit_users, .update_users
  label
    :float left
    :width 120px
    :text-align right
    :padding-right 10px
    :vertical-align middle
  .text_area
    :padding 5px 0px
    textarea
      :height 4em
  #change_password_link a
    :margin-left 130px
    :font-size 12px
  .submit
    :margin
      :top 10px
      :left 130px

div.upload_avatar
  .avatar
    :float left
    :width 48px
    :height 48px
    :margin-right 5px
    a
      :display block
      :width 48px
      :height 48px
      :margin-right 5px
      :background url(/images/avatar_thumb_corners.png)
    a:hover
      :background url(/images/avatar_thumb_corners_hover.png)
  p.actions
    :padding-top 2px
    :margin 0px
    a
      :display block
      :font-size 12px
      :color rgb(120,120,120)
      :margin-top 5px
      :text-decoration underline
    a:hover
      :text-decoration none

.thumb_avatar
  :float left
  :width 48px
  :height 48px
  :margin-right 10px
  a
    :display block
    :width 48px
    :height 48px
    :margin-right 5px
    &.round_corners
      :background url(/images/avatar_thumb_corners.png)
    &.round_corners:hover
      :background url(/images/avatar_thumb_corners_hover.png)

.invitations
  :padding 5px

.profile_completeness
  h2
    :margin 0px
    :color rgb(80,80,80)
    :border-bottom solid 1px rgb(180,180,180)
  :margin
    :top 10px
  :background rgb(200,200,200)
    
  :padding 8px
  :-moz-border-radius
    :topleft 5px
    :bottomleft 5px
  :-webkit-border-top-left-radius 5px
  :-webkit-border-bottom-left-radius 5px
  .description
    :font-size 13px
    :padding 5px
      :top 0px
  .next_check
    :font-size 13px
    :padding 5px
  .progress_container
    :background rgb(120,120,120)
    :padding 2px
    :-moz-border-radius 16px
    :-webkit-border-radius 16px
    .bar
      :color rgb(255,255,255)
      :font-weight bold
      :overflow visible
      :white-space nowrap
      :text-indent 10px
      :padding 3px 0px
      :background rgb(0,0,255)
      :-moz-border-radius 16px
      :-webkit-border-radius 16px
      :font-size 12px
      
.unconfirmed_email_users
  .content
    :padding
      :top 10px
      :left 20px
      :bottom 10px
    :border-top solid 1px rgb(230,230,230)
    h2
      :font-family Helvetica
      :font-size 24px
      :margin 0px
        :top 10px
        :bottom 15px
    h3
      :font-size 16px
    p, li
      :font-size 13px
      :margin-bottom 5px
