.new_user {
  width: 270px;
  padding: 30px;
  padding-right: 40px;
  border-right: dashed 1px rgb(160,160,160); }
  .new_user .text_field input {
    width: 100%; }

.show_users .content h2 {
  margin: 5px 0 0 10px; }
.show_users .column_wrap .profile {
  margin-bottom: 20px; }
.show_users .column_wrap .vcard, .show_users .column_wrap .name, .show_users .column_wrap .email {
  font-size: 12px; }
.show_users .column_wrap .vcard {
  float: right; }

.edit_users label, .update_users label {
  float: left;
  width: 120px;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle; }
.edit_users .submit, .update_users .submit {
  margin: 15px 0px 0px 300px; }

div.upload_avatar .avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 5px; }
  div.upload_avatar .avatar a {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 5px;
    background: url(../images/avatar_thumb_corners.png); }
  div.upload_avatar .avatar a:hover {
    background: url(../images/avatar_thumb_corners_hover.png); }
div.upload_avatar p.actions {
  padding-top: 5px;
  margin: 0px; }
  div.upload_avatar p.actions a {
    display: block;
    font-size: 12px;
    color: rgb(0,0,255);
    text-decoration: none;
    margin-top: 5px; }
  div.upload_avatar p.actions a:hover {
    text-decoration: underline; }

.thumb_avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px; }
  .thumb_avatar a {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 5px; }
    .thumb_avatar a.round_corners {
      background: url(/images/avatar_thumb_corners.png); }
    .thumb_avatar a.round_corners:hover {
      background: url(/images/avatar_thumb_corners_hover.png); }
