div.wrapper 
  :clear both
  :background rgb(255,255,255)
  :-moz-border-radius
    :bottomleft 5px
    :bottomright 5px
  :-webkit-border-bottom-left-radius 5px
  :-webkit-border-bottom-right-radius 5px
div.content_wrap
  :float left
  :width 610px
  :padding 10px
    :right 0px
  h2.title
    :margin 0px
      :bottom 3px
    :color rgb(60,60,60)
    :font-weight normal
div.column_wrap
  :float right
  :background rgb(230,230,230)
  :width 300px
  :padding 10px
  :-moz-border-radius
    :bottomleft 5px
    :bottomright 5px
  :-webkit-border-bottom-left-radius 5px
  :-webkit-border-bottom-right-radius 5px
  h2
    :font-size 12px
    :text-transform uppercase
    :border-bottom solid 1px rgb(200,200,200)
    :margin-bottom 5px

div.column_wrap
  a.add_button
    :float left
  h2.title
    :margin 0px
      :bottom 3px
    :color rgb(60,60,60)
  h2.title_with_button
    :float right
    :width 270px
    :margin 0px
      :bottom 3px
      :top 5px
    :color rgb(60,60,60)
    a
      :color rgb(60,60,60)
    
.sort
  :margin
    :top 5px
  :background rgb(240,240,240)
  :border solid 1px rgb(220,220,220)
  :padding 8px
  :-moz-border-radius 8px
  :-webkit-border-radius 8px  
  .filters
    :padding-top 15px
    :font-size 12px
  a
    :font-size 14px
    :padding 2px 4px
    :-moz-border-radius 4px
    :-webkit-border-radius 4px
    :background rgb(100,100,100)
    :color rgb(200,200,200)
  a.active
    :background rgb(0,0,255)
    :color rgb(255,255,255)