.edit_projects .content_wrap, .update_project .content_wrap {
  float: right;
  padding: 10px;
  padding-left: 0px; }
.edit_projects .column_wrap, .update_project .column_wrap {
  float: left; }
  .edit_projects .column_wrap .submit, .update_project .column_wrap .submit {
    text-align: right; }
.edit_projects .column, .update_project .column {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px; }
.edit_projects .content h2, .update_project .content h2 {
  font-size: 22px;
  margin: 10px;
  margin-right: 0px;
  padding-bottom: 5px;
  border-bottom: solid 2px rgb(240,240,240); }
