form#new_project, form.edit_project {
  padding-left: 10px; }
  form#new_project #project_name, form.edit_project #project_name {
    width: 272px; }
  form#new_project #project_permalink, form.edit_project #project_permalink {
    width: 140px; }
  form#new_project .permalink, form.edit_project .permalink {
    margin-bottom: 0px; }
  form#new_project #preview, form.edit_project #preview {
    font-size: 12px;
    padding: 10px 0px; }
    form#new_project #preview span, form.edit_project #preview span {
      font-weight: bold; }
  form#new_project .good, form.edit_project .good {
    color: rgb(0,140,0); }
  form#new_project .bad, form.edit_project .bad {
    color: rgb(200,0,0); }
  form#new_project .archived, form.edit_project .archived {
    margin-bottom: 10px; }
    form#new_project .archived label, form.edit_project .archived label {
      float: none;
      font-size: 12px; }
