.new_projects .content h2, .create_projects .content h2 {
  font-size: 22px;
  margin: 10px;
  margin-right: 0px;
  padding-bottom: 5px;
  border-bottom: solid 2px rgb(240,240,240); }
.new_projects .content p.new_example_project, .create_projects .content p.new_example_project {
  font-size: 12px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px; }
.new_projects .preview, .create_projects .preview {
  margin: 10px 0px;
  margin-top: 15px;
  font-size: 12px; }
.new_projects .column, .create_projects .column {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  font-size: 12px; }
  .new_projects .column p, .create_projects .column p {
    margin: 0 0 5px 0; }
  .new_projects .column ul, .create_projects .column ul {
    padding-left: 20px;
    margin-top: 5px; }
    .new_projects .column ul li, .create_projects .column ul li {
      margin-bottom: 3px; }
