.show_projects .project_name, .index_task_lists .project_name {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 14px; }
.show_projects h2 .help, .index_task_lists h2 .help {
  float: right;
  font-size: 12px;
  font-weight: normal;
  padding-top: 3px; }
  .show_projects h2 .help a, .index_task_lists h2 .help a {
    color: rgb(150,150,150); }
.show_projects .tip, .index_task_lists .tip {
  margin: 10px 10px;
  font-size: 12px;
  color: rgb(150,150,150); }
.show_projects #activities .comment .name .project, .show_projects #activities .comment .name .project_arr, .index_task_lists #activities .comment .name .project, .index_task_lists #activities .comment .name .project_arr {
  display: none; }

.index_conversations .comment .name .project, .index_conversations .comment .name .project_arr, .show_conversations .comment .name .project, .show_conversations .comment .name .project_arr, .show_tasks .comment .name .project, .show_tasks .comment .name .project_arr {
  display: none; }
.index_conversations .comment .name .target, .index_conversations .comment .name .target_arr, .show_conversations .comment .name .target, .show_conversations .comment .name .target_arr, .show_tasks .comment .name .target, .show_tasks .comment .name .target_arr {
  display: none; }
