%li
  New 
  %a{:href => "{{activity/path}}", :"data-activity-id" => "{{activity/activity_id}}"} {{activity/target_type}}
  by
  %a{:href => "/users/{{activity/user/username}}", :"data-activity-id" => "{{activity/activity_id}}"} @{{activity/user/username}}
