<div class="status_new task unassigned unassigned_date" data-task-id="{{id}}" id="task_{{id}}" style="position: relative">
  <div class="taskStatus">
    <img alt="Drag" class="task_drag" src="/images/drag.png">
    <span data-task-id="{{id}}" class="task_status task_counter">{{comments_count}}</span>
  </div>
  <div class="taskName">
    <div class="expanded_actions" style="display: none">
      <a class="full" href="/projects/{{project_id}}/tasks/{{id}}"><%= t 'tasks.task.full_view' %></a>
      <a class="hide" href="#"><%= t 'tasks.task.hide_comments' %></a>
    </div>
    <a href="/projects/{{project_id}}/tasks/{{id}}" class="name">{{name}}</a>
  </div>
  <div class="clear"></div>
</div>
