- content_for :column do
  - form_for @current_user do |f|
    = edit_avatar(f,@current_user)
    
- form_for @current_user do |f|
  = f.error_messages
  = user_fields(f,@current_user)
  .submit
    = submit_tag t('.submit')