<style type="text/css">
  #facebox h1, #facebox h2, #facebox h3, #facebox h4, #facebox ul, #facebox ol { margin: 0; padding: 0; }
  body #facebox , #facebox th, #facebox td, #facebox pre { font-size: 12px; font-family: Helvetica; }
  #facebox pre { font-family: "Monaco", "Courier New", "Terminal", monospace; margin: 0; }
  #facebox th { font-size: 14px; font-weight: bold; padding-bottom: 20px; }
  #facebox td { padding-right: 50px; padding-bottom: 10px; }
  #facebox ul { padding-left: 10px; }
  #facebox ol { padding-left: 0px; }
</style>

<table class="textile_doc" style="width: 500px"> 
  <tr> 
    <th>Enter this</th>
    <th>To see this</th>
  </tr> 
  <tr> 
    <td><pre>**bold** text</pre></td> 
    <td><strong style="font-weight: bold">bold</strong> text</td> 
  </tr> 
  <tr> 
    <td><pre>*italics* text</pre></td> 
    <td><i>italics</i> text</td> 
  </tr> 
  <tr> 
    <td><pre>Header
======</pre></td> 
    <td> 
      <h3 style="font-size:18px">Header</h3> 
    </td> 
  </tr> 
  <tr> 
    <td><pre>Smaller header
---------</pre></td> 
    <td><h4 style="font-size:14px">Smaller header</h4></td> 
  </tr> 
  <tr> 
    <td><pre>[A link](http://teambox.com)</pre></td> 
    <td><a href="http://www.teambox.com">Link something</a></td> 
  </tr> 
  <tr> 
    <td><pre>![alt text](http://w3.org/img.jpg)</pre></td> 
    <td><img src="http://www.w3.org/Icons/valid-html401"></td> 
  </tr> 
  <tr> 
    <td><pre>* unordered list
* leave empty lines around
    </pre></td> 
    <td> 
      <ul> 
      <li>unordered list</li> 
      <li>leave empty lines around</li> 
      </ul> 
    </td> 
  </tr> 
  <tr> 
    <td> 
    <pre>1. ordered list
2. leave empty lines!
    </pre></td> 
    <td> 
    <ol style="padding-left:20px"> 
    <li>ordered list</li> 
    <li>leave empty lines!</li> 
    </ol> 
    </td> 
  </tr> 
</table>

<p>Paste your code indented (4 spaces or tabs) to paste it as a block of code.</p>
