.section.welcome_section
  %h2.welcome Get started with Teambox!
  %p
    Thanks for signing up for Teambox! We've got a surprise for you...
.section    
  %h2 Projects
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at eros ut est hendrerit aliquam eu in arcu. 
    Praesent lobortis, nibh nec porttitor pellentesque, ligula arcu placerat erat, eu tempus quam lectus quis tortor. 
    Praesent nec lectus suscipit magna interdum venenatis. Donec id neque libero. 
.section
  %h2 People
  %p
    Suspendisse iaculis mauris id justo sodales eget eleifend enim dictum. Phasellus vitae metus mauris. 
    Sed eget metus est. Donec ut eros tortor. Suspendisse a accumsan elit.
    Nunc semper quam eget elit eleifend ac malesuada massa interdum.
.section
  %h2 Comments
  %p
    Donec fringilla, arcu ac pharetra euismod, lacus quam luctus nunc, vel aliquet odio felis a velit. 
    Donec sagittis, enim non venenatis malesuada, arcu est imperdiet eros, non posuere nulla justo sit amet mauris. 
    Proin erat mauris, feugiat eu venenatis in, euismod in felis. 
    Aenean orci augue, mollis at imperdiet a, eleifend non leo. In mattis hendrerit quam non venenatis.  
.section
  %h2 Conversations
  %p  
    Donec non libero eget nunc tincidunt suscipit vel in purus. Quisque urna erat, placerat a commodo sed, tincidunt sit amet lectus. 
    Maecenas odio sem, ultricies nec aliquet sed, feugiat eget magna. Nulla sodales pharetra sollicitudin. 
    Praesent pharetra bibendum rutrum. Ut ipsum nulla, commodo eu vulputate quis, congue quis felis. 

.section
  %h2 Tasks
  %p  
    Etiam suscipit, nisi pellentesque viverra fringilla, neque nulla placerat nisl, eu suscipit orci ligula ut metus. 
    Donec faucibus adipiscing turpis ac interdum. Curabitur non egestas leo. 
    Fusce semper risus vel tellus ultricies ornare. Nulla nec lectus felis, quis luctus diam. Sed ante justo, euismod vel tempor nec, fermentum vel augue. 
    Mauris lorem quam, rhoncus vitae vehicula sed, tincidunt vel odio.      
.section
  %h2 Pages
  %p
    Ut eu tortor mi, in mollis odio. Pellentesque dignissim laoreet tincidunt. 
    Fusce consectetur leo ut nisl pellentesque sed dictum dolor commodo. Vestibulum leo risus, egestas eget lobortis ut, tincidunt eu arcu. 
    Nam egestas mollis odio, vitae rhoncus sem ultrices sit amet. Donec condimentum vestibulum dignissim. 
    Mauris faucibus hendrerit risus, accumsan pharetra nunc condimentum ut. In at vestibulum nisl. 
.section
  %h2 File Uploads
  %p    
    Nam viverra bibendum turpis, eu auctor sapien fringilla quis. Suspendisse quis lacus nulla. Donec vitae orci dui, in consectetur leo. 
    Phasellus venenatis congue suscipit. Nullam vestibulum, tortor a vehicula aliquet, quam turpis tristique mi, eget tristique velit sapien ut justo. 
    Nunc vulputate leo vitae dui ultrices sed eleifend est ornare. 
- content_for :column do
  r