<div class="thread" data-class="conversation" data-id="{{id}}" id="thread_conversation_{{id}}">

  {{#first_comment}}
    {{>first_comment}}
  {{/first_comment}}

  <div class="comments">
    {{#comments}}
      {{>comment}}
    {{/comments}}
  </div>

  <%= render "javascripts/activities/reply" %>

</div>