- unless chrome_frame?
  /[if IE]
    %div{ :style => "border:3px solid #090; margin:8px 0; background:#cfc; color:#000; width:345px; padding: 5px" }
      = t('.enhance', :link => 'http://www.google.com/chromeframe')
