%ul
  - for task in Array(events)
    %li.has_panel
      = event_task_link(task)
      .panel
        %h2=h task
        %h3
          Project:
          = link_to h(task.project), project_path(task.task_list.project)
