<div class="global_navigation"><%  
render_tabnav :global do 

  if logged_in?
    #unless current_user.invitations_count == 0
    #  add_tab do |t|
    #    t.named "#{current_user.invitations_count} #{t('.project_invitations')}"
    #    t.links_to user_invitations_path(current_user)
    #    t.highlights_on :controller => :invitations
    #  end
    #end
    
    add_tab do |t|
      t.named "#{current_user.login}"
      t.links_to user_path(current_user)
      t.highlights_on :controller => :users, :action => :show
    end
    
    add_tab do |t|
      t.named t('.settings')
      t.links_to settings_path
      t.highlights_on :controller => :users, :action => :edit
    end
    
    if current_user.invitations.count > 0
      add_tab do |t|
        t.named t('.project_invitations', :count => current_user.invitations.count)
        t.links_to user_invitations_path(current_user)
        t.highlights_on :controller => :users, :action => :invitations
      end
    end
    
    add_tab do |t|
      t.named t('.logout')
      t.links_to logout_path
    end
  else
    add_tab do |t|
      t.named t('.home')
      t.links_to APP_CONFIG['home_url']
    end if APP_CONFIG.has_key? 'home_url'

    add_tab do |t|
      t.named t('.tour')
      t.links_to APP_CONFIG['tour_url']
    end if APP_CONFIG.has_key? 'tour_url'

    add_tab do |t|
      t.named t('.blog')
      t.links_to APP_CONFIG['blog_url']
    end if APP_CONFIG.has_key? 'blog_url'

    add_tab do |t|
      t.named t('.signup')
      t.links_to signup_path
      t.li_class = 'right_side'
    end

    add_tab do |t|
      t.named t('.login')
      t.links_to login_path
      t.highlights_on :controller => :sessions, :action => :new
      t.highlights_on :controller => :sessions, :action => :create
      t.li_class = 'right_side'
    end
        
  end
  
end
%><div class="clear"></div></div>