<div class="global_navigation"><%  
render_tabnav :global, :generate_css => false do 

  if logged_in?
    add_tab do |t|
      t.named "#{current_user.name}"
      t.links_to user_path(current_user)
      t.highlights_on :controller => :users, :action => :edit
    end
    add_tab do |t|
      t.named t('.settings')
      t.links_to settings_path
      t.highlights_on :controller => :users, :action => :edit
    end
    add_tab do |t|
      t.named t('.logout')
      t.links_to logout_path
    end
  else
    add_tab do |t|
      t.named t('.product_site')
      t.links_to 'http://www.teambox.com/'
    end
    add_tab do |t|
      t.named t('.blog')
      t.links_to 'http://www.teambox.com/blog/'
    end
  end
  
end
%><div class="clear"></div></div>