<div class="global_navigation"><%  
render_tabnav :global do 
  add_tab do |t|
    t.named "#{current_user.login}"
    t.links_to user_path(:id => current_user.id)
    t.highlights_on :controller => :users, :action => :show
    t.tab_index = '50'
  end
  
  add_tab do |t|
    t.named t('.settings')
    t.links_to account_settings_path
    t.highlights_on :controller => :users, :action => :edit
    t.tab_index = '51'
  end
  
  if current_user.invitations.count > 0
    add_tab do |t|
      t.named t('.project_invitations', :count => current_user.invitations.count)
      t.links_to user_invitations_path(:user_id => current_user.id)
      t.highlights_on :controller => :users, :action => :invitations
      t.tab_index = '52'
    end
  end
  
  add_tab do |t|
    t.named t('.logout')
    t.links_to logout_path
    t.tab_index = '53'
  end   
end
%><div class="clear"></div></div>