.header
  %h1= link_to logo_image, projects_path
  = search_bar
  = link_to "Upgrade for only $3 per month!", '', :class => 'upgrade'
  = render 'shared/global_navigation'
  #global_loading_icon{ :style => 'display: none' }
