#topbar
  %table{ :width => '100%' }
    %tr
      %td
        %h1= link_to image_tag('/images/header_logo_white.png'), activities_path
      %td{ :style => 'text-align: right' }
        %small
          Signed in as
          = current_user