#topbar
  %table{ :width => '100%' }
    %tr
      %td
        %h1= link_to logo_image, activities_path
      %td{ :style => 'text-align: right' }
        %small
          Signed in as
          =h current_user