#keyboard_shortcuts{ :style => 'display:none;' }
  .title
    Keyboard navigation:
  .key
    %span j
    next thread
    &darr;
  .key
    %span k
    previous thread
    &uarr;
  .key
    %span enter
    open / close thread
