<div class="navigation"><%  
render_tabnav :main, :generate_css => false do 
  add_tab do |t|
    t.named t('.all_projects')
    t.links_to projects_path
    t.highlights_on :controller => :projects, :action => :index
  end    

  unless project.nil?
    add_tab do |t|
      t.named project.name
      t.links_to project_path(project)
      t.highlights_on :controller => controller_name
    end
  end
  
end  
%></div>