<div class="navigation">

<%
if logged_in?
  render_tabnav :main do 
    unless current_user.welcome
      add_tab do |t|
        t.named t('.welcome')
        t.links_to welcome_path
        t.highlights_on :controller => :users, :action => :welcome
        t.li_class = 'welcome'
        t.tab_index = 100
      end
    end
    
    add_tab({:html => {:id => 'projects_tab', 
	                   :li_end => projects_tab_list(current_user.projects.unarchived)}
	}) do |t|
      t.named "#{t('.all_projects')} #{image_tag('triangle.png', :class => 'triangle')}"
      t.links_to projects_path
      t.highlights_on :controller => :projects, :action => :index
      t.highlights_on :controller => :task_lists, :action => :index, :project_id => nil
      t.tab_index = 101
    end

    add_tab do |t|
      t.named t('.new_project')
      t.links_to new_project_path
      t.highlights_on :controller => :projects, :action => :new
      t.li_class = 'new'
      t.tab_index = 102
    end
  
    if current_user.recent_projects.any?
      tab_index = 103
      for project in current_user.recent_projects
        add_tab do |t|
          t.named truncate(project.name, :length => 20)
          t.links_to project_path(project)
          if project == @current_project
            t.highlights_on :controller => controller_name
          end
          t.tab_index = tab_index
          tab_index.succ
        end
      end
    end
  end
end
%></div>