#page_menu
  = link_to "Conversations", project_conversations_path(project), :class => controller_selected?('conversations')
  = link_to "Tasks", project_task_lists_path(project), :class => controller_selected?(['task_lists', 'tasks'])
  -# = link_to "Pages", project_pages_path(project), :class => controller_selected?('pages')
  -# = link_to "Files", project_uploads_path(project), :class => controller_selected?('uploads')
  = link_to "People", project_people_path(project), :class => controller_selected?('people')