<div class="project_column_navigation"><%  
render_tabnav :project do 
  project_count = current_user.projects.count(:conditions => {:archived => true})
  unless project_count == 0
    
    add_tab do |t|
      t.named t('.all')
      t.links_to projects_path
      t.highlights_on :controller => 'projects', :action => 'index', :sub_action => nil
    end  
  
      add_tab do |t|
        t.named t('.archived', :count => project_count)
        t.links_to project_archived_path
        t.highlights_on :controller => 'projects', :action => 'index', :sub_action => 'archived'
      end
    end  
end
%><div class="clear"></div></div>