%ul#projects_tab_list
  - projects.each do |project|
    %li
      = link_to(truncate(project.name, :length => 30), project_url(project), :style => 'width:220px;', :class => 'proj')
      .quicklinks
        = quicklink_conversations(project)
        = quicklink_tasks(project)
        = quicklink_pages(project)
