<div class="project_navigation"><%
unless location_name? %w(welcome_users new_projects show_users edit_users new_avatars index_invitations)
  render_tabnav :project do 

    if logged_in?
      if project.nil?  
        add_tab do |t|
          t.named t('.overview')
          t.links_to projects_path
          t.highlights_on :controller => :projects, :action => :index
          t.tab_index = 150
        end

        add_tab do |t|
         t.named t('.all_task_lists')
         t.links_to task_lists_path
         t.highlights_on :controller => :task_lists, :action => :index
        end

        add_tab do |t|
         t.named t('.gantt')
         t.links_to gantt_view_task_lists_path
         t.highlights_on :controller => :task_lists, :action => :gantt_view
        end

        if time_tracking_enabled?
          add_tab do |t|
            t.named t('.time_tracking')
            t.links_to time_path
            t.highlights_on :controller => :hours, :action => :index
          end
        end

        if groups_enabled?
          add_tab do |t|
           t.named t('.groups')
           t.links_to groups_path
           t.highlights_on :controller => :groups
           t.li_class = 'groups'
           t.li_class = 'right_side'
           t.tab_index = 102
          end
        end

        #add_tab do |t|
        #  t.named t('.all_pages')
        #  t.links_to pages_path
        #  t.highlights_on :controller => :pages, :action => :index
        #end

      else
        add_tab do |t|
          t.named t('.overview')
          t.links_to project_path(project)
          t.highlights_on :controller => :projects, :action => :show
          t.tab_index = 150
        end

        add_tab do |t|
          t.named t('.conversations')
          t.links_to  project_conversations_path(project)
          t.highlights_on :controller => :conversations
          t.tab_index = 151
        end

        add_tab do |t|
          t.named t('.task_lists')
          t.links_to  project_task_lists_path(project)
          t.highlights_on :controller => :task_lists
          t.highlights_on :controller => :tasks
          t.tab_index = 152
        end

        add_tab(:html => {:id => 'pages_tab',
                          :class => 'nav_tab',
                          :li_class => 'nav_tab_container',
                          :li_end => pages_tab_list(project, project.pages)
        }) do |t|
          t.named "#{t('.pages')} #{image_tag('triangle.png', :class => 'triangle')}"
          t.links_to  project_pages_path(project)
          t.highlights_on :controller => :pages
          t.tab_index = 153
        end

        if time_tracking_enabled? and project.tracks_time
          add_tab do |t|
            t.named t('.time_tracking')
            t.links_to  project_time_path(project)
            t.highlights_on :controller => :hours
          end
        end

        add_tab do |t|
          t.named t('.files')
          t.links_to  project_uploads_path(project)
          t.highlights_on :controller => :uploads
          t.tab_index = 154
        end

        add_tab do |t|
          t.named t('.people')
          t.links_to  project_people_path(project)
          t.highlights_on :controller => :people
          t.li_class = 'right_side'
          t.tab_index = 156
        end

        if project.admin?(current_user)
          add_tab do |t|
            t.named t('.project_settings')
            t.links_to  project_settings_path(project)
            t.highlights_on :controller => :projects, :action => :edit
            t.highlights_on :controller => :hooks
            t.li_class = 'right_side'
            t.tab_index = 155
          end
        end
      end    
    end
  end
end
%><div class="clear"></div></div>