<div class="project_settings_navigation"><%  
render_tabnav :project do 
    add_tab do |t|
      t.named t('.general')
      t.links_to project_settings_path :project_id => @current_project.permalink
      t.highlights_on :controller => 'projects', :action => 'edit', :sub_action => 'settings'
    end  

    #add_tab do |t|
    #  t.named t('.picture')
    #  t.links_to project_picture_path
    #  t.highlights_on :controller => 'projects', :action => 'edit', :sub_action => 'picture'
    #end

    add_tab do |t|
      t.named t('.hooks')
      t.links_to project_hooks_path
      t.highlights_on :controller => 'hooks'
    end

    add_tab do |t|
      t.named t('.deletion')
      t.links_to project_deletion_path :project_id => @current_project.permalink
      t.highlights_on :controller => 'projects', :action => 'edit', :sub_action => 'deletion'
      t.li_class = 'deletion'
    end  

    add_tab do |t|
      t.named t('.ownership')
      t.links_to project_ownership_path :project_id => @current_project.permalink
      t.highlights_on :controller => 'projects', :action => 'edit', :sub_action => 'ownership'
      t.li_class = 'ownership'
    end if @current_project.owner?(current_user)
end
%><div class="clear"></div></div>