<div class="project_settings_navigation"><%  
render_tabnav :project do 
    add_tab do |t|
      t.named t('.general')
      t.links_to project_settings_path
      t.highlights_on :controller => 'projects', :action => 'edit', :sub_action => 'settings'
    end  

    #add_tab do |t|
    #  t.named t('.picture')
    #  t.links_to project_picture_path
    #  t.highlights_on :controller => 'projects', :action => 'edit', :sub_action => 'picture'
    #end

    add_tab do |t|
      t.named t('.deletion')
      t.links_to project_deletion_path
      t.highlights_on :controller => 'projects', :action => 'edit', :sub_action => 'deletion'
      t.li_class = 'deletion'
    end    
end
%><div class="clear"></div></div>