- if current_user.can_search? || (@current_project && @current_project.user.can_search?)
  .search_bar
    - form_tag search_path do
      %input{ :name => 'search', :type => 'search', :placeholder => 'Search projects' }
      = submit_tag