=loading_image(loading_id)

.submit{ :id => submit_id }
  = submit_tag name, :class => (object.new_record? ? "inline_form_create" : "inline_form_update")
  = t('common.or')
  = link_to t('form.cancel'), "#", :class => "inline_form_cancel"