#upcoming_events_banner.upcoming_events_banner.banner_item{:style => "#{ 'display: none' unless current_gantt_view?(:calendar)}"}
  %table
    - for table_row in [(0..6),(7..13)]
      - unless table_row.all?{|i|events[i].nil?}
        %tr
          - for i in table_row
            %th{ :class => event_css(i) }
              = (Date.today.monday + i.day).strftime("%a %e")
        %tr
          - for i in table_row
            %td{ :class => event_css(i) }
              = render :partial => 'shared/event', :locals => {:events => events[i]}