<div class="user_navigation"><%  
render_tabnav :user do 
    add_tab do |t|
      t.named t('.account_settings')
      t.links_to account_settings_path
      t.highlights_on :controller => 'users', :action => 'edit', :sub_action => 'settings'
    end

    add_tab do |t|
      t.named t('.profile_information')
      t.links_to account_profile_path
      t.highlights_on :controller => 'users', :action => 'edit', :sub_action => 'profile'
    end

    add_tab do |t|
      t.named t('.profile_picture')
      t.links_to account_picture_path
      t.highlights_on :controller => 'users', :action => 'edit', :sub_action => 'picture'
    end

    if Teambox.config.providers? and !Teambox.config.providers.empty?
      add_tab do |t|
        t.named t('.linked_accounts')
        t.links_to account_linked_accounts_path
        t.highlights_on :controller => 'users', :action => 'edit', :sub_action => 'linked_accounts'
      end
    end
    
    add_tab do |t|
      t.named t('.storage')
      t.links_to account_storage_path
      t.highlights_on :controller => 'users', :action => 'edit', :sub_action => 'storage'
    end if current_user.admin?

    add_tab do |t|
      t.named t('.linked_apps')
      t.links_to oauth_clients_path
      t.highlights_on :controller => 'oauth_clients'
    end

    add_tab do |t|
      t.named t('.notifications')
      t.links_to account_notifications_path
      t.highlights_on :controller => 'users', :action => 'edit', :sub_action => 'notifications'
    end

    add_tab do |t|
      t.named t('.your_data')
      t.links_to teambox_datas_path
      t.highlights_on :controller => 'teambox_datas'
    end

    add_tab do |t|
      t.named t('.delete_account')
      t.links_to account_delete_path
      t.highlights_on :controller => 'users', :action => 'edit', :sub_action => 'delete'
    end
end
%><div class="clear"></div></div>
