- content_for :column do
  - if project
    = new_page_link(project)
  .pages
    = list_pages(pages,current_target)
    
  .subscribe
    = link_to t('.subscribe'), user_rss_token(project_pages_path(@current_project, :format => :rss))