- cname = slot.rel_object.class.to_s.downcase

.pageSlot{:id => "page_slot_#{slot.id}", :slot => slot.id}
  = render :partial => "#{cname.pluralize}/#{cname}", :locals => {:object => slot.rel_object}
