= page_column(@current_project, @pages)

- unless @pages.empty?
  #pages
    %h2= t('.pages_in_this_project')
    - @pages.each do |page|
      .page
        %h3= page_link(page)
        %p= page.description

- else
  =page_primer(@current_project)