#page
  #pages
    - for page in @pages
      .project_page
        = link_to h(page), project_page_path(@current_project, page)
    .project_page
      .new
        = link_to t('pages.index.new_page'), new_project_page_path(@current_project), :class => 'new'