=page_column(@current_project,@pages,@page)

%h2
  = @page.name

.buttons#buttons
  =new_page_note_link(@current_project,@page)
  =new_page_divider_link(@current_project,@page)
  =new_page_task_list_link(@current_project,@page)
  =new_page_upload_link(@current_project,@page)

=new_note_form(@current_project,@page)
  
#notes
  = list_page_notes(@page.notes)