.user_invitation
  = thumb_avatar(invitation.user)
  = t('.invited_to_join', :by => h(invitation.user.login), :project => h(invitation.project.name))
  
  .actions
    - form_for invitation.project, :url => accept_project_invitation_path(invitation.project,invitation), :html => { :class => 'accept_project' } do |f|
      = f.submit 'Accept'
    
    - form_for invitation.project, :url => decline_project_invitation_path(invitation.project,invitation), :html => { :class => 'decline_project' } do |f|
      = f.submit 'Decline'
  .clear