- content_for :column do
  - if @invitations
    = new_invitation_link(@current_group)

.invitations
  - if @invitation
    = list_pending_invites([@invitation])
  - else
    = list_invitations_for_group(@current_group, @invitations)
.clear
