<style type="text/css">
  #facebox h1, #facebox h2, #facebox h3, #facebox h4, #facebox ul, #facebox ol { margin: 0; padding: 0; }
  body #facebox , #facebox th, #facebox td, #facebox pre { font-size: 12px; font-family: Helvetica; }
  #facebox pre { font-family: "Monaco", "Courier New", "Terminal", monospace; margin: 0; }
  #facebox th { font-size: 14px; font-weight: bold; padding-bottom: 20px; }
  #facebox td { padding-right: 50px; padding-bottom: 10px; }
  #facebox ul { padding-left: 10px; }
  #facebox ol { padding-left: 0px; }
  
  span.mention { background-color: #EEE;
  border: 1px solid #CCC;
  border-bottom-left-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  color: black;
  padding: 0px 3px;
  margin: 3px 0px;
  text-decoration: none; }
</style>

<p style="margin-bottom:12px"><%= t('.title') %></p>
<table class="textile_doc" style="width: 500px"> 
  <tr> 
    <th><%= t('.enter_this.title') %></th>
    <th><%= t('.to_invite.title') %></th>
  </tr> 
  <tr> 
    <td><pre>fred</pre></td> 
    <td><span class="mention">@fred</span></td> 
  </tr>
  <tr> 
    <td><pre>fred@someaddress.com bob@someaddress.com</pre></td> 
    <td>fred@someaddress.com, bob@someaddress.com</td> 
  </tr> 
  <tr> 
    <td><pre>fred george@someaddress.com lisa</pre></td> 
    <td>george@someaddress.com  <%= t('.to_invite.not_example_html') %></td> 
  </tr> 
  <tr> 
    <td><pre>fred lisa</pre></td> 
    <td><span class="mention">@fred</span>, <span class="mention">@lisa</span></td>
  </tr>
</table>