#page
  #projects
    - for project in @projects
      .project
        = link_to project, project_path(project)
    - if @sub_action == 'archived'
      .project
        = link_to "Show Active Projects", projects_path, :style => 'color: #999'
    - else
      .project
        = link_to "Show #{@archived_projects.size} Archived Projects", project_archived_path, :style => 'color: #999'