%h2= t('.title')

- #%p.new_example_project= t('.create_an_example_project', :link => new_example_project_path)

- form_for @project do |f|
  = project_fields(f,@project)
  .submit
    = f.submit t('.submit')
  
- content_for :column do
  = project_new_primer