/ #page_menu
/   = link_to "Conversations"
/   = link_to "Tasks"
/   = link_to "Pages"
/   = link_to "Files"
/   = link_to "People"
#page
  #activities
    - for activity in @activities
      = show_activity(activity)