- content_for :column do
  .people_list
    %h2= t 'projects.show.people_in_project'
    = list_people([@current_project.user])

= new_comment_form(@current_project)

#comments
  = list_comments(@comments)
