.email{ :style => email_global }

  = dont_answer

  %p{ :style => email_box }
    = @message

  .footer{ :style => email_text(:small) }
    %p= t('emailer.confirm.report_abuse', :email => @user.email)
    %p= t('emailer.confirm.problems_html', :support => Teambox.config.support)

