.thumb_avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px; }
  .thumb_avatar a {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 5px; }
    .thumb_avatar a.round_corners {
      background: url(/images/avatar_thumb_corners.png); }
    .thumb_avatar a.round_corners:hover {
      background: url(/images/avatar_thumb_corners_hover.png); }

.micro_avatar {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px; }
  .micro_avatar a {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 5px; }
    .micro_avatar a.round_corners {
      background: url(/images/avatar_thumb_corners.png); }
    .micro_avatar a.round_corners:hover {
      background: url(/images/avatar_thumb_corners_hover.png); }
