%h2
  =raw t('search.results_for', :search_terms => "<strong>{{query}}</strong>")

#search_results
  %p.loading
    %img{ :src => '/images/loading.gif' }
    =t 'common.loading'

.pagination_links{:style => 'display:none'}
  =t 'common.pagination'
  %ol.pages

%p
  %a.closePane{ :href => '#' }=t 'search.close_search'
