.new_user {
  padding: 10px; }

.new_users h2 {
  display: block;
  margin-left: 30px; }
.new_users .submit {
  margin-top: 10px;
  display: block; }
  .new_users .submit input {
    float: none; }
.new_users .use_this_email {
  margin: 10px;
  padding: 10px;
  border: 1px rgb(220,220,150) solid;
  background-color: rgb(255,255,200);
  font-size: 12px; }

.invitations {
  padding: 5px; }

.unconfirmed_email_users .content {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px; }
  .unconfirmed_email_users .content h2 {
    font-family: Helvetica;
    font-size: 24px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 15px; }
  .unconfirmed_email_users .content h3 {
    font-size: 16px; }
  .unconfirmed_email_users .content p, .unconfirmed_email_users .content li {
    font-size: 13px;
    margin-bottom: 5px; }
