.show_users .content h2 {
  margin: 5px 0 0 10px; }
.show_users .column_wrap .profile {
  margin-bottom: 20px; }

.show_users .banner {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background: rgb(159,227,236);
  padding: 10px; }
  .show_users .banner h2 {
    margin: 0px;
    font-size: 24px; }
    .show_users .banner h2 span {
      vertical-align: middle; }
    .show_users .banner h2 span.login {
      margin-left: 5px;
      background: rgb(182,228,234);
      border: 1px solid rgb(116,213,226);
      padding: 5px;
      font-size: 14px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
.show_users .content_wrap {
  float: right;
  padding: 10px;
  padding-left: 0px; }
.show_users .column_wrap {
  float: left; }
  .show_users .column_wrap .avatar {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  .show_users .column_wrap .biography {
    border: solid 1px rgb(200,200,200);
    background: rgb(246,246,246);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px;
    margin-top: 4px; }
.show_users .content h2 {
  font-size: 22px;
  margin: 10px;
  margin-right: 0px;
  padding-bottom: 5px;
  border-bottom: solid 2px rgb(240,240,240); }
