.form_user_wrap
  - form_for :avatar, @avatar, :url => user_avatar_path(@user), :html => { :class => 'new_avatar', :multipart => true } do |f|
    .image_file
      %label{ :for => 'image_file'} Upload Image
      = f.file_field :image_file
    .submit
      = f.submit "Upload this Image"
      or
      = link_to 'Cancel', edit_user_path(@user)