.text_field.im
  =f.text_field :name
  =f.select :account_im_type, options_for_card_type(Im::ACCOUNT_TYPES)
  =f.select :account_type, options_for_card_type(Im::TYPES)
  =remove_link_unless_new_record(f)