.text_field.social_network
  =f.text_field :name
  =f.select :account_network_type, options_for_card_type(SocialNetwork::NETWORK_TYPES)
  =f.select :account_type, options_for_card_type(SocialNetwork::TYPES)
  =remove_link_unless_new_record(f)