<form accept-charset="UTF-8" {{#if assigned_id}}
  action="/projects/{{project.permalink}}/tasks/{{id}}"
  class="new_comment edit_task"
  {{else}}
  action="/projects/{{project.permalink}}/conversations/{{id}}"
  class="new_comment edit_conversation"
  {{/if}}
  data-mine="false" data-project-id="{{project.id}}"
  data-remote="true" enctype="multipart/form-data" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
    <input name="_method" type="hidden" value="put">
  </div>
  <div class="field text_area">
    <a class="micro_avatar my_avatar" href="#"></a>
    <div class="textarea">
      <textarea cols="40" name="task[comments_attributes][0][body]"
        placeholder="Define what needs to be done, assign this task to somebody."
        rows="20" autocomplete="off" style=""></textarea>
      <div class="autocomplete" style="display: none"></div>
    </div>
  </div>
  <div class="extra" style="display: block">
    {{#if assigned_id}}
    <div class="field text_field hours_field" style="display: none">
      <label>
        How many hours did you put into this task?
        <input id="task_comments_attributes_0_human_hours"
          name="task[comments_attributes][0][human_hours]" size="30" type="text">
      </label>
      <a href="http://help.teambox.com/faqs/advanced-features/time-tracking" target="_blank">Learn more.</a>
    </div>
    {{/if}}
    <div class="upload_area" style="display: none">
      <p>Select a file to upload to Teambox</p>
      <input id="upload_file" name="task[comments_attributes][0][uploads_attributes][0][asset]" type="file">
    </div>
    <div class="add_watchers_box" style="display: none">
      <p>Click on users to @mention them in your comment. Mentioned users will receive email notifications for your message and others after it.</p>
    </div>
    <div class="actions">
      <div class="attach">
        <span>Attach:</span>
        <a href="#uploads" class="attach_icon hoverable" title="Attach a file">Attachment</a>
        <div class="google_docs_attachment">
          <a href="/google_docs" rel="facebox">
            <img alt="Icon_6_document" class="google_docs_logo" src="/images/google_docs/icon_6_document.gif">
          </a>
          <div class="google_docs_attachment_form_area" data-object-name="task[comments_attributes][0]">
            <div class="fields"></div>
            <ul class="file_list"></ul>
          </div>
        </div>
        {{#if assigned_id}}
        <a href="#hours" class="add_hours_icon hoverable" title="Log hours">Add hours to this task</a>
        {{/if}}
        <a href="#watchers" class="add_watchers hoverable" title="Notify people">Watchers</a>
      </div>
      {{#if assigned_id}}
      <div class="task_actions">
        <label for="task_status">Status</label>
        <select id="task_status" name="task[status]">
          <!-- TODO: Choose the right selected option -->
          <option value="0">new</option>
          <option value="1" selected="selected">open</option>
          <option value="2">hold</option>
          <option value="3">resolved</option>
          <option value="4">rejected</option>
        </select>
        <label for="task_assigned_id">Assigned to:</label>
        <select data-assigned="{{assigned_id}}" id="task_assigned_id" name="task[assigned_id]">
          <option>Unassigned</option>
        </select>
        <label for="task_due_on">Due date</label>
        <div class="date_picker">
          <img alt="Calendar" class="calendar_date_select_popup_icon"
            src="/images/calendar_date_select/calendar.gif">
          <input id="task_due_on" name="task[due_on]" type="hidden">
          <span class="localized_date"><i>No date assigned</i></span>
        </div>
      </div>
      {{else}}
        <span class="convert_to_task">
          <a href="#convert_to_task">Convert to task</a>
        </span>
        <div class="convert_to_task" style="display:none">
          <div class="conversation_actions">
            <div class="fields">
              <label for="conversation_name">Name this task:</label>
              <input class="required" disabled="disabled"
                error_message="must not be blank" id="conversation_name"
                name="conversation[name]" placeholder="eg. Upload Logo Proposal" 
                size="30" type="text" value="Project Welcome">
            </div>
            <div class="fields">
              <label for="conversation_task_list_id">Create task in:</label>
              <select disabled="disabled" id="conversation_task_list_id" 
                name="conversation[task_list_id]">
                <option value="">Loading...</option>
              </select>
            </div>
            <div class="fields">
              <label for="conversation_status">Status:</label>
              <select disabled="disabled" id="conversation_status" name="conversation[status]">
                <option value="0">new</option>
                <option value="1">open</option>
                <option value="2">hold</option>
                <option value="3">resolved</option>
                <option value="4">rejected</option>
              </select>
              <select disabled="disabled" id="conversation_assigned_id" name="conversation[assigned_id]">
                <option>Unassigned</option>
                <option value="1">Frank Kramer</option>
                <option value="2">Corrina Kottke</option>
                <option value="5">Marco Fizzulo</option>
              </select>
            </div>
            <div class="fields">
              <div class="date_picker ">
                <img alt="Calendar" class="calendar_date_select_popup_icon" 
                  src="/images/calendar_date_select/calendar.gif">
                <input disabled="disabled" id="conversation_due_on" 
                  name="conversation[due_on]" type="hidden">
                <span class="localized_date"><i>No date assigned</i></span>
              </div>
            </div>
          </div>
          <div class="submit">
            <a href="#cancel_conversion" class="cancel">Cancel</a>
            <input data-disable-with="Sending…" disabled="disabled" 
              id="comment_submit" name="commit" type="submit" value="Convert">
          </div>
        </div>
      {{/if}}
      <span class="new" style="display: none">
        ← &nbsp;&nbsp; Select <b>Notify people</b> to send notifications for this conversation.
      </span>
    </div>
    <div class="submit">
      <span class="help">
        <a href="/text_styles" class="style_icon" rel="facebox" title="Formatting help"></a>
      </span>
      <input data-disable-with="Sending…" id="task[comments_attributes][0]_submit" 
        name="commit" type="submit" value="Save">
    </div>
  </div>
</form>
