<div class="comment" data-editable-before="{{ms updated_at}}" data-project="{{project_id}}"
  data-user="{{user_id}}" id="comment_{{id}}">
  {{#user}}
    <div class="info">
      <a href="{{host}}/users/{{username}}" class="micro_avatar"
        style="background: url({{micro_avatar_url}}) no-repeat"></a>
    </div>
  {{/user}}
  <div class="block">
    <div class="actions_menu">
      <span class="actiondate">
        <time class="timeago" data-msec="{{ms updated_at}}" pubdate="true">{{updated_at}}</time>
      </span>
    </div>
    <div class="body textilized">
      <div class="before">
        <a href="{{host}}/users/{{user/username}}" class="user">{{full_name user}}</a>
        {{status_transition}}
      </div>
      {{#assigned}}
      <p class="assigned_transition">Assigned to {{full_name}}</p>
      {{/assigned}}
      {{{body_html}}}
    </div>
  </div>
  <div class="clear"></div>
</div>
