.conversation_actions
  .field.text_area
    %a.micro_avatar.my_avatar
    .textarea
      %textarea{:cols => '40', :name => 'comment[body]', :placeholder => 'Define what needs to be done, assign this task to somebody.', :rows => '20', :autocomplete => 'off'}
      .autocomplete{ :style => "display: none" }

  .fields
    %label{:for => 'conversation_name'} Name this task:
    %input{:class => 'required', :error_message => 'must not be blank', :id => 'conversation_name', :name => 'name', :placeholder => 'eg. Upload Logo Proposal', :size => '30', :type => 'text', :value => 'Project Welcome'}

  .fields
    %label{:for => 'conversation_task_list_id'} Create task in:
    %select{:id => 'conversation_task_list_id', :name => 'task_list_id'}
      %option{:value => ''} Loading...

  .fields
    %label{:for => 'conversation_status'} Status:
    %select{:id => 'conversation_status', :name => 'status'}

    %select{:id => 'conversation_assigned_id', :name => 'assigned_id'}

  .fields
    .date_picker
      %img{:alt => 'Calendar', :class => 'calendar_date_select_popup_icon', :src => '/images/calendar_date_select/calendar.gif'}
      %input{:id => 'conversation_due_on', :name => 'due_on', :type => 'hidden'}
      %span{:class => 'localized_date'}
        %i No date assigned

.submit
  %a{:href => '#cancel_conversion', :class => 'cancel'} Cancel
  %input{:id => 'comment_submit', :name => 'commit', :type => 'submit', :value => 'Convert'}
