<!-- CLEANME: taskStatus is deprecated and hidden -->
.taskStatus
  <!-- <img src='drag.png' class='task_drag'/> if editable and !task.archived? -->
  %span.task_status.task_counter{"data-task-id" => "{{id}}"} {{comments_count}}
.status {{status_text}}
.taskName
  %a.name{:href => "{{task_url}}"} {{name}}
  %form.edit_title{ :style => 'display: none' }
    %input{ :"data-disable-with"=>"#{t('common.saving')}…", :value => '{{name}}' }
  .expanded_actions{:style => "display: none"}
    %a.full{:href => "{{task_url}}"}= t('tasks.task.full_view')
    %a.edit{:href => "#"}= t('tasks.task.edit')

  {{#if due_on}}
  %span.assigned_date{ :style => 'display: inline-block' } {{date due_on}} 
  {{/if}}

  {{#assigned}}
  %span.assigned_user
    %a{:href => "{{user_url user}}"} {{short_name user}}
  {{/assigned}}

  .extended
    %span.project
      {{#project}}
      %a{:href => "{{project_url}}"} {{name}}
      {{/project}}
      &rarr;
    %span.task_list
      %a{:href => "{{task_list_url}}"} {{task_list.name}}
.clear
.thread{ :style => 'display: none' }
  .comments
    {{#first_comment}}{{> comment}}{{/first_comment}}
    {{#if hidden_comments_count}}
    .more_comments
      %a{ :href => "/activities/{{id}}/show_thread?thread_type={{type}}", :'data-remote' => "true" }
      Show {{hidden_comments_count}} previous comments
    {{/if}}
    {{#recent_comments}}{{> comment}}{{/recent_comments}}
  -# TODO: I'm adding this %form.new_comment so the styles are right, feel free to change
  -# so the style is more similar to the comment form on the thread view
  %form.new_comment
    {{> comment_form}}
