.task{"data-task-id" => "{{id}}", :id => "task_{{id}}", :class => 'status_{{status_name}}' }
  <!-- CLEANME: taskStatus is deprecated and hidden -->
  .taskStatus
    <!-- <img src='drag.png' class='task_drag'/> if editable and !task.archived? -->
    %span.task_status.task_counter{"data-task-id" => "{{id}}"} {{comments_count}}
  .status {{status_text}}
  .taskName
    %a.name{:href => "/projects/{{project_id}}/tasks/{{id}}"} {{name}}
    %form.edit_title{ :style => 'display: none' }
      %input{ :value => '{{name}}' }
    .expanded_actions{:style => "display: none"}
      %a.full{:href => "/projects/{{project_id}}/tasks/{{id}}"}= t('tasks.task.full_view')
      %a.edit{:href => "#"}= t('tasks.task.edit')
    {{#if due_on}}
    %span.assigned_date{ :style => 'display: inline-block' } {{date due_on}} 
    {{/if}}
    {{#assigned}}
    %span.assigned_user
      %a{:href => "/users/{{user.username}}"} {{short_name user}}
    {{/assigned}}
    .extended
      %span.project
        %a{:href => "/projects/{{project_id}}"} {{project.name}}
        &rarr;
      %span.task_list
        %a{:href => "/projects/{{project_id}}/task_lists"} {{task_list.name}}
  .clear
  .thread{ :style => 'display: none' }
    .comments
      {{#first_comment}}{{> comment}}{{/first_comment}}
      {{#if hidden_comments_count}}
      .more_comments
        %a{ :href => "/activities/{{id}}/show_thread?thread_type={{type}}", :'data-remote' => "true" }
        Show {{hidden_comments_count}} previous comments
      {{/if}}
      {{#recent_comments}}{{> comment}}{{/recent_comments}}
    {{> comment_form}}
