.comment.comment_header
  %span.time
    %time.timeago{ :'data-msec' => "{{ms updated_at}}", :pubdate => "true" }
      {{updated_at}}
  .info
    {{#if is_task}}
    %img{ :src => "/famfamfam/tick.png", :style => "padding: 4px" }
    {{else}}
    %img{ :src => "/famfamfam/comment.png", :style => "padding: 4px" }
    {{/if}}
    .comment_count
      %span {{comments_count}}
  .block
    .thread_title
      {{#if is_task}}
      <a href="{{task_url}}">{{name}}</a> on
      <a href="{{task_list_url task_list}}">{{name}}</a>
      task list
      {{else}}
      <a href="{{conversation_url}}">{{name}}</a>
      conversation
      {{/if}}

    {{#project}}
    .project_overlay
      <a href="{{project_url}}" data-project-id="{{id}}">{{name}}</a>
    {{/project}}

    {{#if is_task}}
    .task_summary
      {{status_transition}}
      Assigned to {{full_name user}}
    {{/if}}
    {{#last_comment}}
    %p.excerpt
      %strong {{full_name user}}
      {{body}}
    {{/last_comment}}
  .clear
.comments
  {{#first_comment}}{{> comment}}{{/first_comment}}
  {{#if hidden_comments_count}}
  .more_comments
    %a{ :href => "/activities/{{id}}/show_thread?thread_type={{type}}" }
    Show {{hidden_comments_count}} previous comments
  {{/if}}
  {{#recent_comments}}{{> comment}}{{/recent_comments}}
