%div{:id => "file_list_{{downcase type}}_{{id}}"}
%ol{:class => 'file_list'}
%p Select a file to upload to Teambox
%button{:id => 'upload_file_{{downcase type}}_{{id}}', :class => 'upload_file_button'}
