- content_for :column do
  - unless project.nil?
    = new_task_list_link
    = new_task_list_form(project,TaskList.new)
  #task_lists  
    = list_task_lists(project,task_lists,current_target)
  =# comments_settings