- is_archived = task_list.archived
%table.task_list{ :id => task_list_id(:with_main_tasks,project,task_list), :class => (is_archived ? 'archived' : nil) }
  - if location_name?('index_task_lists')
    %thead
      %tr
        %th{:colspan => 4}
          = comments_count(task_list,:content)
          = the_task_list_link(task_list)
                        
  %tbody{ :id => task_list_id(:the_main_tasks,project,task_list) }
    = list_tasks(task_list.tasks.unarchived,task_list_editable?(task_list,current_user))