- show_archive_link = (task_list.tasks.unarchived.empty? && task_list.tasks.archived.size > 0)
- header_on_index = @on_index || (action_name == 'index')
- show_the_lists = !(header_on_index and task_list.archived)
.task_list_container{ :class => (task_list.archived ? 'archived' : nil) }
  .task_list
    .head
      = task_list_index_header(project,task_list)
    - if !header_on_index
      = task_list_archive_box(project,task_list)
    - if show_the_lists
      %div{ :class => 'tasks open' }
        - if !task_list.archived
          = list_tasks_with_private(task_list,task_list.tasks.unarchived,false)
      - if task_list_editable?(task_list,current_user)
        .new_task
          = link_to t('tasks.link.new'), [:new, project, task_list, :task]
