.task_list{ :id => task_list_id(:item,project,task_list), :class => "task_list_#{task_list.id} #{ 'active_task_list' if current_target == task_list }" }
  =task_list_drag_link(task_list)
  = the_task_list_link(task_list)