= task_list_column(@current_project,@task_lists,@task_list)

- unless @task_lists.empty?
  #activities
    = list_activities(@activities)
    =# list_main_task_list(@current_project,@task_lists)
- else
  = task_list_primer(@current_project)