=task_list_column(@current_project,@task_lists,@task_list)
  
%h2.title
  Comment on
  =@task_list.name
  
= new_comment_form(@current_project,@task_list)

#comments
  = list_comments(@comments,@task_list)