- content_for :column do
  - unless @organization.new_record?
    = organization_navigation(@organization)

  .todo{ :style => 'color:red; display: none' }
    Invite to organization (UserController#create has some logic)

    Leave org, delete org
    Users should be observable when you share an organization or project (spec)

    Careful with premium checks for Groups on hosted..

    Revisit mobile version completely

    Invitations:
    Add organization's name
    Ability to invite to organization, too

    Invite people from the organization

    Participants shouldn't be able to edit Organization

    "customize your app" screen

    Invite people already in the org to a project
    
    Textilized pre width to 500
