- content_for :column do
  - unless @organization.new_record?
    = organization_navigation(@organization)

  .todo{ :style => 'color:red; display: none' }
    %p Admins should be able to view all projects, even if they don't belong to them.
    %p Admins of an org are admins for all projects
    %p Link to organization inside Project#show
    %p Verify that mobile projects work
    %p You shouldn't be able to transfer to organizations where you're not admin
    %p
    %p Fix sending emails for subdomains
    %p Disable groups
    %p
    %p For users not belonging to an organization, we should take them to Organization#show
    %p
    %p Invite to organization
    %p On open-source, we can use only one company and manage permissions with it
    %p Leave org
    %p Delete org
    %p Users should be observable when you share an organization or project (spec)
