%p.actions{ :style => "display: none" }
  %span
    = edit_divider_link(divider)
    = delete_divider_link(divider)
    =# drag_image
%p.actions.handle{ :style => "display: none" }
  %span
    = drag_widget_handle(divider)
    =# drag_image