%div.upload{ :class => cycle('alternate', '') }
  .header
    .icon
      = image_tag '/famfamfam/folder.png'
    .file
      = link_to folder.name, project_folder_path(@current_project, folder), :remote => true, :class => "ajax"
    .size
      = pluralize (folder.uploads_count + folder.folders_count), 'file'
    .author
      =# folder.user
    .more
      [+]

  .reference{ :style => 'display: none' }
    - if true or can?(:update, folder)
      = link_to t('.remove'), [@current_project, folder], :'data-remote' => true,
        :'data-method' => 'delete', :'data-confirm' => t('confirm.delete_folder')