%div.upload{ :class => cycle('alternate', '') }
  .header
    .icon
      = image_tag '/famfamfam/folder.png'
    .file
      = link_to folder.name, project_folder_path(@current_project, folder)
    .size
      -# TODO: Check if defined plural rules for folder and file words in other languages
      = pluralize folder.folders_count, 'folder'
      %br
      = pluralize folder.uploads_count, 'file'
    -#.author
      =# folder.user
    .more
      [+]

  .reference{ :style => 'display: none' }
