%div.upload{ :class => cycle('alternate', '') }
  .header
    .icon
      = image_tag '/famfamfam/folder.png'
    .file
      = link_to folder.name, project_folder_path(@current_project, folder)
    .size
      =# number_to_human_size upload.size
    .author
      = folder.user
    .more
      [+]

  .reference{ :style => 'display: none' }
