%form.new_folder#new_folder_form{ :style => 'display: none' }
  -# TODO: Add an attribute to add the folder in the right @parent_folder
  .header
    .icon
      = image_tag '/famfamfam/folder.png'
    .full_row
      = text_field_tag :name, t('.default_text'), :id => 'new_folder_name'
      .actions
        = link_to t('common.cancel'), '#', :class => 'close'
        = submit_tag t('.submit'), :class => 'button'
