%div.actionContainer
  %p.slotActions{ :style => "display: none" }
    %span
      = destroy_page_upload_link(page, upload)
  %p.slotActions.handle{ :style => "display: none;" }
    %span
      = drag_widget_handle(upload)
