- content_for :column do
  = add_upload_link(@current_project) if @upload.errors.empty?
  = upload_form(@current_project,@upload)
  
=list_uploads(@current_project,@uploads)
- if false
  = javascript_tag "FancyZoomBox.directory = 'http://localhost:3000/images/zoom';" 
  = javascript_tag "$$('a.fancyzoom').each(function(e) { new FancyZoom(e) })"