.completion
  {{text}}
  .progressbar.thin.orange{ :style => 'width: {{width}}px' }
    .bar1{ :style => 'width: {{filled}}px' }
    .bar2{ :style => 'width: {{filled}}px' }
    .bar3{ :style => 'width: {{filled}}px' }
