%h1 Get Started with Teambox

.video_part
  %h2 A brief overview
  %p Learn about the Teambox layout and where you can find your team's conversations and tasks.
  <iframe src="http://player.vimeo.com/video/22702930?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0"></iframe>

.video_part
  %h2 Creating projects
  %p Everything in Teambox happens within a project. Learn how to create them.
  <iframe src="http://player.vimeo.com/video/22704504?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0"></iframe>

.video_part
  %h2 The Activity Stream
  %p View your recent activities and learn how to post and follow up on conversations.
  <iframe src="http://player.vimeo.com/video/22704712?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0"></iframe>

.video_part
  %h2 Conversations
  %p Dig deeper into conversations, a better way of communicating with your team.
  <iframe src="http://player.vimeo.com/video/22704902?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0"></iframe>

.video_part
  %h2 Tasks
  %p Learn how to create and assign tasks. Have visibility across your organization.
  <iframe src="http://player.vimeo.com/video/22705126?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0"></iframe>
