.login.text_field
  = label_tag :login, t('.username_or_email')
  = text_field_tag 'login', @login, :class => 'focus', :tabindex => 200
.password.text_field
  = label_tag :password, t('.password')
  = password_field_tag 'password', nil, :tabindex => 201
