.gantt {
  padding-bottom: 10px; }
  .gantt .ruler {
    position: relative;
    display: block;
    height: 26px;
    background: rgb(140,208,217);
    border-bottom: solid 1px rgb(100,168,177);
    color: rgb(80,80,80); }
    .gantt .ruler .mark {
      position: absolute;
      font-size: 10px;
      top: 18px;
      height: 10px;
      width: 5px;
      text-indent: .3em;
      background: url(../images/mark.jpg) no-repeat left; }
    .gantt .ruler .date {
      position: absolute;
      font-family: Courier, monospace;
      text-transform: uppercase;
      font-size: 12px;
      top: 0px;
      padding-top: 4px;
      width: 1px;
      display: block; }
      .gantt .ruler .date.major {
        font-weight: bold;
        color: rgb(160,160,160); }
  .gantt .row {
    position: relative;
    display: block;
    margin: 1px 0;
    font-size: 12px;
    height: 19px; }
  .gantt .task_list {
    height: 13px;
    font-size: 11px;
    position: absolute;
    background: rgb(240,240,240);
    border: solid 1px rgb(200,200,200);
    white-space: nowrap;
    overflow: hidden;
    padding: 3px 0px;
    text-indent: .4em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  .gantt .task:hover {
    overflow: visible; }
